#container{
  width: 400px;
  height: 400px;
  background: #999;
  display: inline-block;
}

.block{
  width: 100px;
  height: 100px;
  border: solid 1px #333;
  background: #000;
  margin: 10px;
  cursor:move;
  position:relative;
  float: right;
}

#editor{
  width: 400px;
  height: 400px;
  background: #EEE;
  display: inline-block;
}

#controls{
  width: 400px;
  height: 400px;
  vertical-align: top;
  display: inline-block;
}
