<!DOCTYPE html>
<html ng-app="calculatorApp" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular App 7</title>
    <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <style media="screen">
      body{
        padding:50px;
      }
    </style>
  </head>
  <body>

    <div class="form-inline" ng-controller="calculatorController">

      <div class="input-group">
        <input type="number" class="form-control" placeholder="" ng-model="a">
      </div>

      <div class="input-group">
        <select class="form-control" name="" ng-model="operator">
          <option>+</option>
          <option>-</option>
          <option>*</option>
          <option>/</option>
        </select>
      </div>

      <div class="input-group">
        <input type="number" class="form-control" placeholder="" ng-model="b">
      </div>

      <div class="input-group">
        <span class="input-group-addon">=</span>
        <input type="text" class="form-control" placeholder="" value="{{ result() }}">
      </div>

    </div>

    <script src="../lib/js/angular.min.js" charset="utf-8"></script>
    <script type="text/javascript">


    var calculatorApp = angular.module("calculatorApp", []);

    calculatorApp.controller("calculatorController", function($scope){

      $scope.result = function(){
        if ($scope.operator == '+')
          return $scope.a + $scope.b;
        if ($scope.operator == '-')
          return $scope.a - $scope.b;
        if ($scope.operator == '*')
          return $scope.a * $scope.b;
        if ($scope.operator == '/')
          return $scope.a / $scope.b;
      };

    });


    </script>
  </body>
</html>
