<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>Angular App 1</title>
    <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>


    <button type="button" class="btn btn-default">
      {{ "AngularJS" }}
    </button>

    <button type="button" class="btn btn-success">
      Bootstrap
    </button>

    <script src="../lib/js/angular.min.js" charset="utf-8"></script>
  </body>
</html>
