<!DOCTYPE html>
<html ng-app="demo">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular App 10</title>
    <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

  </head>
  <body ng-controller="demoCtrl">

    <div class="panel panel-default">
      <h1>To Do</h1>
      <table class="table">
        <tr>
          <td>
            Action
          </td>
          <td>
            Done
          </td>
        </tr>
        <tr ng-repeat="item in todos">
          <td>
            {{ item.action }}
          </td>
          <td>
            {{ item.done }}
          </td>
        </tr>
      </table>
    </div>


    <script src="../lib/js/angular.min.js" charset="utf-8"></script>
    <script type="text/javascript">

    var myApp = angular.module("demo", []);

    //Promise chaining
    myApp.controller("demoCtrl", function ($scope, $http){
      $http.get('../data/todo.json').then(function(response){
        $scope.todos = response.data;
      },
      function(){
        $scope.todos = [{ action: "Error" }];
      }).then(function(){
        $scope.todos.push({ action: "Request complete" });
      });
    });

    </script>
  </body>
</html>
