<!DOCTYPE html>
<html ng-app="demo">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular App 11</title>
    <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

  </head>
  <body ng-controller="demoCtrl">

    <div class="panel panel-default">
      <h1>To Do</h1>
      <table class="table">
        <tr>
          <td>
            Action
          </td>
          <td>
            Done
          </td>
        </tr>
        <tr ng-repeat="item in todos">
          <td>
            {{ item.action }}
          </td>
          <td>
            {{ item.done }}
          </td>
        </tr>
      </table>
    </div>


    <script src="../lib/js/angular.min.js" charset="utf-8"></script>
    <script type="text/javascript">

    var myApp = angular.module("demo", []);

    //Working with JSON files
    myApp.controller("demoCtrl", function ($scope, $http){

      $http.get('../data/todo.json').success(function(data){
        var jsonString = angular.toJson(data);
        console.log(jsonString);
        $scope.todos = angular.fromJson(jsonString);
      });


    });

    </script>
  </body>
</html>
