<!DOCTYPE html>
<html ng-app="todoApp">
<head>
  <meta charset="utf-8">
  <title>Angular App 2</title>
  <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
</head>
<body ng-controller="toDoCtrl">

  <div class="page-header">
    <h1>{{ todo.user }} To-Do List
      <span class="label label-default" ng-class="warningLevel()" ng-hide="incompleteCount() == 0">{{ incompleteCount() }}</span>
    </h1>
  </div>

  <div class="panel">
    <div class="input-group">
      <input class="form-control" ng-model="actionText">
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="addNewItem(actionText)">Add</button>
      </span>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Description</th>
          <th>Done</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in todo.items | checkedItems: showComplete | orderBy:'action'">
          <td>{{ item.action }}</td>
          <td><input type="checkbox" ng-model="item.done"></td>
          <td>{{ item.done }}</td>
        </tr>

        <!-- <tr ng-repeat="item in todo.items" class="ng-scope">
          <td class="ng-binding">Buy Flowers</td>
          <td class="ng-binding">false</td>
        </tr>
        <tr ng-repeat="item in todo.items" class="ng-scope">
          <td class="ng-binding">Get Shoes</td>
          <td class="ng-binding">false</td>
        </tr>
        <tr ng-repeat="item in todo.items" class="ng-scope">
          <td class="ng-binding">Collect Tickets</td>
          <td class="ng-binding">true</td>
        </tr>
        <tr ng-repeat="item in todo.items" class="ng-scope">
          <td class="ng-binding">Call Joe</td>
          <td class="ng-binding">false</td>
        </tr> -->
      </tbody>
    </table>

    <div class="checkbox-inline">
      <label><input type="checkbox" ng-model="showComplete"> Show Complete</label>
    </div>

  </div>

  <script src="../lib/js/angular.min.js" charset="utf-8"></script>
  <script type="text/javascript">


  var model = {
    user: "Adam"
  };

  var todoApp = angular.module("todoApp", []);


  todoApp.run(function($http){
    $http.get("../data/todo.json").success(function(data){
      model.items = data;
    });
  });



  todoApp.filter("checkedItems", function(){
    return function(items, showComplete){
      var resultArr = [];
      angular.forEach(items, function(item){
        if(item.done === false || showComplete === true)
          resultArr.push(item);
      });
      return resultArr;
    }
  });


  todoApp.controller("toDoCtrl", function($scope){

    $scope.todo = model;

    $scope.incompleteCount = function(){
      var count = 0;
      angular.forEach($scope.todo.items, function(item){
        if(!item.done)
          count++
      });
      return count;
    }

    $scope.warningLevel = function(){
      return $scope.incompleteCount() < 3 ? "label-success" : "label-warning";
    }

    $scope.addNewItem = function(actionText){
      $scope.todo.items.push({ action: actionText, done: false });
    }

  });

  </script>
</body>
</html>
