<!DOCTYPE html>
<html ng-app="exampleApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Directives</title>
        <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

    </head>
    <body ng-controller="defaultCtrl">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Products</h3>
            </div>

            <div class="panel-body">
              <button class="btn btn-primary" ng-click="incrementPrices()">Change Prices</button>
            </div>

            <div class="panel-body">
                <div unordered-list="products" list-property="price | currency"></div>
            </div>
        </div>

        <script src="../lib/js/angular.min.js" charset="utf-8"></script>
        <script type="text/javascript">

            angular.module("exampleApp", [])
            .directive("unorderedList", function(){
              return function(scope, element, attrs){

                var data = scope[attrs["unorderedList"]];
                var propertyName = attrs["listProperty"];
                var propertyExpression = attrs["listProperty"];

                if(angular.isArray(data)){
                  var listElem = angular.element("<ul>");
                  element.append(listElem);
                  for (var i = 0; i < data.length; i++) {

                    (function(){

                      var itemElement = angular.element('<li>');
                      listElem.append(itemElement);
                      var index = i;

                      var watcherFn = function(watchScope){
                        return watchScope.$eval(propertyExpression, data[index]);
                      }

                      scope.$watch(watcherFn, function (newValue, oldValue){
                        itemElement.text(newValue);
                      });
                      
                    }());

                    //console.log("Item:" + data[i].name);
                    //listElem.append(angular.element('<li>').text(data[i].name));
                    //listElem.append(angular.element('<li>').text(data[i][propertyName]));
                    //listElem.append(angular.element('<li>').text(scope.$eval(propertyExpression, data[i])));
                  }
                }

              };
            })
            .controller("defaultCtrl", function($scope) {
                $scope.products = [
                    {
                        name: "Apples",
                        category: "Fruit",
                        price: 1.20,
                        expiry: 10
                    },
                    {
                        name: "Bananas",
                        category: "Fruit",
                        price: 2.42,
                        expiry: 7
                    },
                    {
                        name: "Pears",
                        category: "Fruit",
                        price: 2.02,
                        expiry: 6
                    }
                ];

                $scope.incrementPrices = function(){
                  for (var i = 0; i < $scope.products.length; i++) {
                    console.log($scope.products[i].price);
                    $scope.products[i].price++;
                  }
                }
            });
        </script>

    </body>
</html>
