<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Forms - 1</title>
  <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">


</head>
<body>

  <div id="todoPanel" class="panel" ng-controller="defaultCtrl">

    <h3 class="panel-header">
      To Do List
      <span class="label label-info">
        {{(todos | filter: {complete: 'false'}).length}}
      </span>
    </h3>

    <div class="row">
      <div class="col-xs-6">
        <div class="well">
          <div class="form-group row">
            <label for="actionText">Action:</label>
            <input type="text" class="form-control" id="actionText" placeholder="" ng-model="newTodo.action">
          </div>

          <div class="form-group row">
            <label for="actionLocation">Location:</label>
            <select class="form-control" id="actionLocation" ng-model="newTodo.location">
              <option>Home</option>
              <option>Office</option>
              <option>Mall</option>
            </select>
          </div>
          <button type="button" name="button" class="btn btn-primary btn-block" ng-click="addNewItem(newTodo)">
            Add
          </button>
        </div>
      </div>

      <div class="col-xs-6">
        <table class="table">
          <thead>
            <tr><th>#</th><th>Action</th><th>Done</th></tr>
          </thead>
          <tr ng-repeat="item in todos">
            <td>{{$index + 1}}</td>
            <td>{{item.action}}</td>
            <td>{{item.complete}}</td>
            <td>
              <input type="checkbox" ng-model="item.complete" />
            </td>
          </tr>
        </table>
      </div>

    </div>

  </div>

  <script src="../lib/js/angular.min.js" charset="utf-8"></script>
  <script type="text/javascript">

  angular.module("exampleApp", [])
  .controller("defaultCtrl", function ($scope) {
    $scope.todos = [
      { action: "Get groceries", complete: false },
      { action: "Call plumber", complete: false },
      { action: "Buy running shoes", complete: true },
      { action: "Buy flowers", complete: false },
      { action: "Call family", complete: false }
    ];
    $scope.addNewItem = function(newItem){
      if (angular.isDefined(newItem) && angular.isDefined(newItem.action) && angular.isDefined(newItem.location) ){
        $scope.todos.push({
          action: newItem.action + " (" + newItem.location + ")",
          complete: false
        });
      }
    };
  });

  </script>
</body>
</html>
