<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Forms - 3</title>
  <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

  <style>

  </style>

</head>
<body>

  <div id="todoPanel" class="panel" ng-controller="defaultCtrl">
    <form name="myForm" novalidate>

      <div class="well">
        <div class="form-group">
          <label>Text:</label>
          <input name="sample1" class="form-control" ng-model="inputValue" ng-required="requireValue" ng-minlength="3" ng-maxlength="10" ng-pattern="matchPattern">
        </div>
      </div>


      <div class="well">
        <div class="form-group">
          <textarea name="sample2" cols="40" rows="3" ng-model="textValue" ng-required="requireValue" ng-minlength="3" ng-maxlength="10" ng-pattern="matchPattern">
          </textarea>
        </div>
      </div>

      <div class="well">
        <p>Required Error: {{ myForm.sample1.$error.required }}</p>
        <p>Min Length Error: {{ myForm.sample1.$error.minlength }}</p>
        <p>Max Length Error: {{ myForm.sample1.$error.maxlength }}</p>
        <p>Pattern Error: {{ myForm.sample1.$error.pattern }}</p>
        <p>Element Valid: {{ myForm.sample1.$valid }}</p>
      </div>
    </form>
  </div>

  <script src="../lib/js/angular.min.js" charset="utf-8"></script>
  <script type="text/javascript">

  angular.module("exampleApp", [])
  .controller("defaultCtrl", function ($scope) {
    $scope.requireValue = true;
    $scope.matchPattern = new RegExp("^[a-z]");
  });

  </script>
</body>
</html>
