<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Forms - 4</title>
  <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

  <style>

  </style>

</head>
<body>

  <div id="todoPanel" class="panel" ng-controller="defaultCtrl">
    <form name="myForm" novalidate>
      <div class="well">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="inputValue" ng-true-value="true" ng-false-value="false">
            This is a checkbox
          </label>
        </div>
      </div>
      <div class="well">
        <p>Model Value: {{ inputValue }}</p>
      </div>
    </form>
  </div>


  <script src="../lib/js/angular.min.js" charset="utf-8"></script>
  <script type="text/javascript">

  angular.module("exampleApp", [])
  .controller("defaultCtrl", function ($scope) {
  });

  </script>
</body>
</html>
