<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Forms - 2</title>
  <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

  <style>
    form .ng-invalid-required.ng-dirty { background-color: lightpink; }
    form .ng-invalid-email.ng-dirty { background-color: lightgoldenrodyellow; }
    form .ng-valid.ng-dirty { background-color: lightgreen; }
    span.summary.ng-invalid { color: red; font-weight: bold; }
    span.summary.ng-valid { color: green; }
    div.error {color: red; font-weight: bold;}
  </style>

</head>
<body>

  <div class="panel" id="todoPanel" ng-controller="defaultCtrl">

    <form name="myForm" novalidate ng-submit="addUser(newUser)">
      <div class="well">
        <div class="form-group">
          <label for="">Name:</label>
          <input type="text" name="userName" class="form-control" required ng-model="newUser.name">
        </div>
        <div class="form-group">
          <label>Email:</label>
          <input name="userEmail" type="email" class="form-control" required ng-model="newUser.email">
          <div class="error" ng-show="myForm.userEmail.$invalid && myForm.userEmail.$dirty">
            {{ getError(myForm.userEmail.$error )}}
            <!-- <span ng-show="myForm.userEmail.$error.email">
              Please enter a valid email address
            </span>
            <span ng-show="myForm.userEmail.$error.required">
              Please enter a value
            </span> -->
          </div>
        </div>
        <div class="checkbox">
          <label>
            <input name="agreed" type="checkbox" ng-model="newUser.agreed" required>
            I agree to the terms and conditions
          </label>
        </div>
        <button type="submit" class="btn btn-primary btn-block" ng-disabled="myForm.$invalid">
          OK
        </button>
    </div>
    <div class="well">
      Message: {{ message }}
      <div>
        <span class="summary" ng-class="myForm.$valid ? 'ng-valid' : 'ng-invalid'">
          {{ myForm.$valid }}
        </span>
      </div>
    </div>
  </form>



  </div>



  <script src="../lib/js/angular.min.js" charset="utf-8"></script>
  <script type="text/javascript">

  angular.module("exampleApp", [])
    .controller("defaultCtrl", function($scope){

      $scope.addUser = function(userDetails){
        $scope.message = userDetails.name + " (" + userDetails.email + ") (" + userDetails.agreed + ")";
      }

      $scope.message = "Ready";

      $scope.getError = function (error) {
        if (angular.isDefined(error)) {
          if(error.required){
            return "Please enter a value";
          }else if(error.email){
            return "Please enter a valid email address";
          }
        }
      }

    });

  </script>
</body>
</html>
