<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Forms - 5</title>
  <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

  <style>

  </style>

</head>
<body>

  <div id="todoPanel" class="panel" ng-controller="defaultCtrl">
    <form name="myForm" novalidate>
      <div class="well">
        <div class="form-group">
          <label>Select an Action:</label>
          <select ng-model="selectValue" ng-options="item.action group by item.place for item in todos">
          </select>
        </div>
      </div>

      <div class="well">
        <p>Selected: {{ selectValue || 'None' }}</p>
      </div>
    </form>
  </div>

  <script src="../lib/js/angular.min.js" charset="utf-8"></script>
  <script type="text/javascript">

  angular.module("exampleApp", [])
  .controller("defaultCtrl", function ($scope) {
    $scope.todos = [
      { id: 100, place: "Store", action: "Get groceries", complete: false },
      { id: 200, place: "Home", action: "Call plumber", complete: false },
      { id: 300, place: "Store", action: "Buy running shoes", complete: true }
    ];
  });

  </script>
</body>
</html>
