<!DOCTYPE html>
<html ng-app="exampleApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

        <style>
          *.error { color: red; font-weight: bold; }
        </style>

    </head>
    <body ng-controller="defaultCtrl">

      <form name="myForm" novalidate>
<div><tri-button name="decision" ng-model="dataValue" /></div>
</form>

      <div><tri-button ng-model="dataValue" /></div>
      <div class="well">
        Value:
        <select ng-model="dataValue">
          <option>Yes</option>
          <option>No</option>
          <option>Not Sure</option>
          <option>Huh?</option>
        </select>
      </div>

        <script src="../lib/js/angular.min.js" charset="utf-8"></script>

        <script type="text/ng-template" id="triTemplate">
          <div class="well">
            <div class="btn-group">
              <button class="btn btn-default">Yes</button>
              <button class="btn btn-default">No</button>
              <button class="btn btn-default">Not Sure</button>
            </div>
            <span class="error" ng-show="myForm.decision.$error.confidence">You need to be sure</span>
          </div>
        </script>

        <script type="text/javascript">

        var app = angular.module("exampleApp", []);

        app.controller("defaultCtrl", function($scope){
          $scope.dataValue = "Not sure";
        });

        app.directive("triButton", function(){
          return {
            restrict: "E",
            replace: true,
            require: "ngModel",
            template: document.querySelector("#triTemplate").outerText,
            link: function (scope, element, attrs, ctrl) {

              var validateParser = function (value) {
                var valid = (value == "Yes" || value == "No");
                ctrl.$setValidity("confidence", valid);
                return valid ? value : undefined;
              }

              ctrl.$parsers.push(validateParser);

              ctrl.$formatters.push(function (value) {
                return value == "Huh?" ? "Not Sure" : value;
              });

              element.on("click", function (event) {
                setSelected(event.target.innerText);
                scope.$apply(function () {
                  ctrl.$setViewValue(event.target.innerText);
                });
              });

              var setSelected = function (value) {
                var buttons = element.find("button");
                buttons.removeClass("btn-primary");
                for (var i = 0; i < buttons.length; i++) {
                  if (buttons.eq(i).text() == value) {
                    buttons.eq(i).addClass("btn-primary");
                  }
                }
              }
              ctrl.$render = function () {
                validateParser(ctrl.$viewValue);
                setSelected(ctrl.$viewValue || "Not Sure");
              }
            }
          }
        });

        </script>

    </body>
</html>
