<!DOCTYPE html>
<html ng-app="exampleApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

    </head>
    <body ng-controller="defaultCtrl">

        <panel>
          The data value comes from {{ dataSource }}
        </panel>

        <script src="../lib/js/angular.min.js" charset="utf-8"></script>

        <script type="text/ng-template" id="template">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">This is the panel</h3>
            </div>
            <div class="panel-body" ng-transclude>
            </div>
          </div>
        </script>

        <script type="text/javascript">

        var app = angular.module("exampleApp", []);

        app.directive("panel", function(){
          return {
            link: function(scope, element, attrs){
              scope.dataSource = "directive";
            },
            restrict: "E",
            scope: true, //true for controller and false for directive
            template: function(){
              return angular.element(document.querySelector("#template")).html();
            },
            transclude: true
          }
        });

        app.controller("defaultCtrl", function($scope){
          $scope.dataSource = "controller"
        });

        </script>

    </body>
</html>
