<!DOCTYPE html>
<html ng-app="exampleApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

    </head>
    <body ng-controller="defaultCtrl">

      
      <table class="table table-striped">
        <thead><tr><th>Name</th><th>Price</th></tr></thead>
        <tbody>
          <tr simple-repeater source="products" item-name="item">
            <td>{{item.name}}</td><td>{{item.price | currency}}</td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-default text" ng-click="changeData()">Change</button>

        <script src="../lib/js/angular.min.js" charset="utf-8"></script>

        <script type="text/javascript">

        var app = angular.module("exampleApp", []);

        app.controller("defaultCtrl", function($scope){
          $scope.products = [{ name: "Apples", price: 1.20 },
          { name: "Bananas", price: 2.42 }, { name: "Pears", price: 2.02 }];
          $scope.changeData = function () {
            $scope.products.push({ name: "Cherries", price: 4.02 });
            for (var i = 0; i < $scope.products.length; i++) {
              $scope.products[i].price++;
            }
          }
        });

        app.directive("simpleRepeater", function(){
          return {
            scope: {
              data: "=source",
              propName: "@itemName"
            },
            transclude: 'element',
            compile: function (element, attrs, transcludeFn) {
              return function ($scope, $element, $attr) {
                $scope.$watch("data.length", function () {
                  var parent = $element.parent();
                  parent.children().remove();
                  for (var i = 0; i < $scope.data.length; i++) {
                    var childScope = $scope.$new();
                    childScope[$scope.propName] = $scope.data[i];
                    transcludeFn(childScope, function (clone) {
                      parent.append(clone);
                    });
                  }
                });
              }
            }
          }
        });

        </script>

    </body>
</html>
