<!DOCTYPE html>
<html ng-app="mainApp" ng-controller="mainCtrl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title ng-bind="app.title"></title>

  <link rel="stylesheet" href="lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="lib/css/app.css" media="screen" title="no title" charset="utf-8">

  <script src="lib/js/jquery-3.1.0.min.js" charset="utf-8"></script>
  <script src="lib/js/firebase.js"></script>
  <script src="lib/js/angular.min.js" charset="utf-8"></script>
  <script src="lib/js/angularfire.min.js" charset="utf-8"></script>
  <script src="lib/js/bootstrap.min.js" charset="utf-8"></script>
  <script src="config.js" charset="utf-8"></script>
  <script src="app.js" charset="utf-8"></script>

</head>
<body data-ng-init="init()">

  <!-- <input type="text" ng-model="data.text"/>
  <h1>You said: {{ data.text }}</h1>

  <h1>You said: {{ data.text }}</h1> -->


  <input type="text" ng-model="message.title">
  <textarea ng-model="message.text" rows="8" cols="40"></textarea>



</body>
</html>
