<h1>Welcome!</h1>

<p ng-bind="test"></p>

<pre ng-bind="logged.email"></pre>
<pre ng-bind="logged.refreshToken"></pre>


<button type="button" class="btn btn-primary" ng-click="logoutFn()">Logout</button>


<!--
<div ng-controller="accountCtrl">

  <input type="file" name="name" value="" id="fileUpload">
<br>
  <div class="progress">
    <div class="progress-bar progress-bar-striped active" id="progressbar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
  </div>


</div> -->
