body {
  padding-top: 70px;
}

.component-container{
  width: 100%;
  height: 100%;
}

.loading{
  background: url('../../img/spinner.gif') 50% 50% no-repeat #666;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
