<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Chapter 10 | Listing 10.4</title>
  <link rel="stylesheet" href="../style/testing.css" media="screen" title="no title" charset="utf-8">

  <script type="text/tmpl" id="colors">
    <p>heres a list of <%= items.length %> items:</p>
    <ul>
      <% for (var i = 0; i < items.length; i++){ %>
        <li style='color:<%= colors[i % colors.length] %>'>
          <%= items[i] %></li>
      <% } %>
    </ul>
    and heres another..
  </script>

  <script type="text/tmpl" id="colors2">
    <p>heres a list of <%= items.length %> items:</p>
    <ul>
      <% for (var i = 0; i < items.length; i++){ %>
        <li style='color:<%= colors[i % colors.length] %>'>
          <%= items[i] %></li>
      <% } %>
    </ul>
  </script>


</head>
<body>


  <p id="content">Replaced content will go here.</p>

  <script src="../library/testing.js" charset="utf-8"></script>
  <script src="../library/tmpl.js" charset="utf-8"></script>
  <script type="text/javascript">

  var colorsArray = ['red', 'green', 'blue', 'orange'];

  var items = [];

  for (var i = 0; i < 10000; i++) {
    items.push("test");
  }

  function replaceContent(name){
    document.getElementById('content').innerHTML = tmpl(name, {colors: colorsArray, items:items});
  }



  </script>


  <input type="button" name="name" value="Run Colors" onclick="replaceContent('colors')">
  <input type="button" name="name" value="Run Colors 2" onclick="replaceContent('colors2')">


</body>
</html>
