<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Chapter 10 | Listing 10.5</title>
  <link rel="stylesheet" href="../style/testing.css" media="screen" title="no title" charset="utf-8">

</head>
<body>

  <script src="../library/testing.js" charset="utf-8"></script>
  <script src="../library/tmpl.js" charset="utf-8"></script>
  <script type="text/javascript">

  (function(){
    var cache = {};

    this.tmpl = function tmpl(str, data){

      var fn = !/\W/.test(str) ?
      cache[str] = cache[str] ||
      tmpl(document.getElementById(str).innerHTML) :

      new Function("obj",
      "var p=[],print=function(){p.push.apply(p,arguments);};" +
      "with(obj){p.push('" +
      str
      .replace(/[\r\t\n]/g, " ")
      .split("<%").join("\t")
      .replace(/((^|%>)[^\t]*)'/g, "$1\r")
      .replace(/\t=(.*?)%>/g, "',$1,'")
      .split("\t").join("');")
      .split("%>").join("p.push('")
      .split("\r").join("\\'")
      + "');}return p.join('');");

      return data ? fn( data ) : fn;
    };
  })();

  assert( tmpl("Hello, <%= name %>!", {name: "world"}) == "Hello, world!", "Do simple variable inclusion." );
  var hello = tmpl("Hello, <%= name %>!");
  assert( hello({name: "world"}) == "Hello, world!", "Use a pre-compiled template." );

  </script>
</body>
</html>
