<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>20 - 10</title>
  <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
</head>
<body ng-controller="defaultCtrl">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"></h3>
    </div>
    <div class="panel-body">

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-hide="products.length">
            <td colspan="3" class="text-center">No data</td>
          </tr>
          <tr ng-repeat="item in products">
            <td>{{ item.name }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.price | currency }}</td>
          </tr>
        </tbody>
      </table>

      <p>
        <button class="btn btn-primary" ng-click="loadData()" type="button" name="button">Load Data</button>
      </p>

    </div>
    <div class="panel-footer">

    </div>
  </div>



  <script src="../lib/js/angular.min.js" charset="utf-8"></script>
  <script type="text/javascript">

    var app = angular.module("exampleApp", []);

    app.controller("defaultCtrl", function($scope, $http){
      $scope.loadData = function(){
        $http.get("data/doesnotexists.json").success(function(data){
          $scope.products = data;
        });
      }
    });

    app.config(function($httpProvider){
      $httpProvider.interceptors.push(function () {
        return {
          request: function (config) {
            config.url = "data/productData.json";
            return config;
          },
          response: function (response) {
            console.log("Data Count: " + response.data.length);
            return response;
          }
        }
      });
    });

  </script>
</body>
</html>
