<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>20 - 8</title>
  <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
</head>
<body ng-controller="defaultCtrl">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"></h3>
    </div>
    <div class="panel-body">

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-hide="products.length">
            <td colspan="3" class="text-center">No data</td>
          </tr>
          <tr ng-repeat="item in products">
            <td>{{ item.name }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.price | currency }}</td>
          </tr>
        </tbody>
      </table>

      <p>
        <button class="btn btn-primary" ng-click="loadData()" type="button" name="button">Load Data</button>
        <button class="btn btn-primary" ng-click="sendData()" type="button" name="button">Send Data</button>
      </p>

    </div>
    <div class="panel-footer">

    </div>
  </div>



  <script src="../lib/js/angular.min.js" charset="utf-8"></script>
  <script type="text/javascript">

    var app = angular.module("exampleApp", []);

    app.controller("defaultCtrl", function($scope, $http){

      $scope.loadData = function(){
        $http.get("data/productData.json").then(function(response){
          $scope.products = response.data;
        });
      }

      $scope.sendData = function(){
        var config = {
          headers: {
            "content-type": "application/xml"
          },
          transformRequest: function(data, headers){
            var rootElem = angular.element("<xml>");
            for (var i = 0; i < data.length; i++) {
              var prodElem = angular.element("<product>");
              prodElem.attr("name", data[i].name);
              prodElem.attr("category", data[i].category);
              prodElem.attr("price", data[i].price);
              rootElem.append(prodElem);
            }
            rootElem.children().wrap("<products>");
            return rootElem.html();
          }
        }
        $http.post("ajax.html", $scope.products, config);
      }

    });

  </script>
</body>
</html>
