body{
  background-color: #DDD;
}

#container{
  width: 700px;
}

canvas{
  width: 640px;
  height: 480px;
  background-color: #FFF;
}

.ui-controls{
  float: right;
}


.figure-control{
  width: 50px;
  height: 50px;
  background: #fff;
  display: flex;
  align-items:center;
  justify-content: center;
}

.square{
  width: 25px;
  height: 25px;
  background-color: #000;
}

.circle{
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #000;
}

.triangle{
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 24px solid black;

}


.play{
  width: 0;
  height: 0px;
	border-top: 12px solid transparent;
	border-left: 24px solid red;
	border-bottom: 12px solid transparent;
}


.stop{
  width: 25px;
  height: 25px;
  background-color: red;
}
