<!-- <chart-component chartdata="chart"></chart-component> -->
<!-- <input ng-model="chart.data.datasets[0].data[0]" /> -->


<div class="row">
  <div class="col-lg-6">
    <div chart-component chartdata="chart3"></div>
  </div>
  <div class="col-lg-6">
    <!-- <spreadsheet-component tabledata="tableData1"></spreadsheet-component> -->
    <!-- <div chart-component chartdata="chart2"></div> -->
  </div>
</div>

<!-- <hr> -->

<!-- <div class="row">
  <div class="col-lg-6">
    <div chart-component chartdata="chart"></div>
  </div>

  <div class="col-lg-6">
    <div chart-component chartdata="chart2"></div>
  </div>
</div> -->
