<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" ng-bind="title"></h3>
    </div>
    <div class="panel-body">

      <ng-view />

    </div>
    <div class="panel-footer">
      <p ng-bind="title"></p>
    </div>
  </div>

</div>
