<div class="row">

  <div class="col-lg-12">
    <gallery-component source="gallerySource"></gallery-component>
  </div>

  <!-- <div class="col-lg-12">
    <gallery-component source="gallerySource2"></gallery-component>
  </div> -->

</div>
