<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#app" ng-bind="app.title"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#chart">Charts</a></li>
        <li><a href="#spreadsheet">Spreadsheet</a></li>
        <li><a href="#gallery">Gallery</a></li>
        <li><a href="#form-validation">Form Validation</a></li>
        <li><a href="#multi-step-form">Multi-step Form</a></li>
        <li><a href="#text-spoiler">Text Spoiler</a></li>
        <!-- <li><a href="#ui-router">UI Router</a></li> -->
        <li><a href="#notes">Notes</a></li>
      </ul>
    </div>
  </div>
</nav>
