<div class="row">
  <div class="col-lg-12">
    <spreadsheet-component tabledata="tableData1"></spreadsheet-component>
  </div>
  <!-- <div class="col-lg-6">
    <spreadsheet-component></spreadsheet-component>
  </div> -->
</div>
