<textspoiler-component>
  <p><spoiler-hidden>In an African desert millions of years ago</spoiler-hidden>, a tribe of man-apes faces starvation and competition for a water hole by a rival tribe. They awaken to find a featureless black monolith has appeared before them. Guided in some fashion by the Black Monolith, one man-ape realizes how to use a bone as a tool and weapon; the tribe learns to hunt for food, and kills the leader of their rivals, reclaiming the water hole.</p>
  <p><spoiler-deleted>Millions of years later, a Pan Am space plane carries Dr. Heywood Floyd to a space station orbiting Earth for a layover on his trip to Clavius Base, a United States outpost on the moon.</spoiler-deleted> After a videophone call with his daughter, Floyd's Soviet scientist friend and her colleague ask about rumors of a mysterious epidemic at Clavius. Floyd declines to answer. At Clavius, Floyd heads a meeting of base personnel, apologizing for the epidemic cover story but stressing secrecy. His mission is to investigate a recently found artifact buried four million years ago. Floyd and others ride in a Moonbus to the artifact, which is a monolith identical to the one encountered by the man-apes. Sunlight strikes the monolith and a loud high-pitched radio signal is heard.</p>
  <p><spoiler-deleted>Eighteen months later, the United States spacecraft Discovery One is bound for Jupiter</spoiler-deleted>. <spoiler-hidden>On board are mission pilots and scientists Dr. David Bowman and Dr. Frank Poole along with three other scientists in cryogenic hibernation</spoiler-hidden>. Most of Discovery's operations are controlled by the ship's computer, HAL 9000, referred to by the crew as "Hal". Bowman and Poole watch Hal and themselves being interviewed on a BBC show about the mission, in which the computer states that he is "foolproof and incapable of error." When asked by the host if Hal has genuine emotions, Bowman replies that he appears to, but that the truth is unknown. Later, when Bowman questions Hal on the purpose of the mission, Hal responds by reporting the imminent failure of an antenna control device. The astronauts retrieve the component making use of an EVA pod but find nothing wrong with it. Hal suggests reinstalling the part and letting it fail so the problem can be found. Mission Control advises the astronauts that results from their twin HAL 9000 indicate that Hal is in error. Hal insists that the problem, like previous issues ascribed to HAL series units, is due to human error. Concerned about Hal's behavior, Bowman and Poole enter an EVA pod to talk without Hal overhearing, and agree to disconnect Hal if he is proven wrong. Hal secretly follows their conversation by lip reading.</p>
</textspoiler-component>

<style media="screen">
spoiler-hidden{
  background: #000;
  color: #000;
}
</style>
