<!-- <div class="row">
  <div class="col-lg-4 col-lg-push-4"> -->

    <div id="alert"></div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="loginPanel">
          <h4 class="panel-title">
            <a data-target="#collapseOne" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">Login</a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">

            <form ng-submit="loginFn()">
              <div class="form-group"><input type="text" class="form-control" name="login.email" placeholder="Email" ng-model="login.email" required></div>
              <div class="form-group"><input type="password" class="form-control" name="login.password" placeholder="Password" ng-model="login.password" required></div>
              <div class="form-group"><button type="submit" class="btn btn-primary btn-block">Login</button></div>
            </form>

          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="registerPanel">
          <h4 class="panel-title">
            <a target="_self" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Register</a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">

            <form ng-submit="registerFn()">
              <div class="form-group"><input type="text" class="form-control" name="register.email" placeholder="Email" ng-model="register.email" required></div>
              <div class="form-group"><input type="password" class="form-control" name="register.password" placeholder="Password" ng-model="register.password" required></div>
              <div class="form-group"><button type="submit" class="btn btn-primary btn-block">Register</button></div>
            </form>

          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="resetPanel">
          <h4 class="panel-title">
            <a target="_self" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Reset Password</a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">

            <form ng-submit="resetPasswordFn()">
              <div class="form-group"><input type="text" class="form-control" name="register.email" placeholder="Email" ng-model="login.email" required></div>
              <div class="form-group"><button type="submit" class="btn btn-primary btn-block">Reset</button></div>
            </form>

          </div>
        </div>
      </div>

    </div>
<!--
  </div>
</div> -->
