<div class="row">

  <div class="col-lg-4 offset-lg-4 text-xs-center">
    <h2>Register</h2>
  </div>

  <form name="registerForm" class="col-lg-4 offset-lg-4 text-xs-center">
    <label for=""></label>
    <input type="email" class="form-control" placeholder="Email address" name="email" ng-model="email" ng-required="true" autofocus>
    <label for=""></label>
    <input type="password" class="form-control" placeholder="Password" name="passwordA" ng-model="passwordA" ng-required="true">
    <label for=""></label>
    <input type="password" class="form-control" placeholder="Retype password" name="passwordB" ng-model="passwordB" ng-required="true" ng-pattern="passwordA">
    <label for=""></label>

    <button class="btn btn-primary btn-block" ng-disabled="registerForm.email.$error.required" type="submit" ng-click="registerFn()">Register</button>

    <label for=""></label>
    <p ng-hide="registerForm.email.$valid">Email address is not valid.</p>
    <p ng-hide="!registerForm.$error.required">All fields are quired!</p>
    <p ng-hide="!registerForm.$error.pattern">Passwords must match!</p>
    
  </form>


  <div class="col-lg-4 offset-lg-4 text-xs-center">
    <hr>
    <a href="#" ui-sref="signin" class="pull-xs-left">Sign In</a>
    <a href="#" ui-sref="recover" class="pull-xs-right">Forgot my password</a>
  </div>

</div>
