<div class="row">

  <div class="col-lg-4 offset-lg-4 text-xs-center">
    <h2>Sign In</h2>
  </div>

  <form name="signinForm" class="signinForm col-lg-4 offset-lg-4 text-xs-center" ng-submit="loginFn()" novalidate>
    <label></label>
    <input type="email" class="form-control" placeholder="Email address" name="signinEmail" ng-model="signin.email" required autofocus>
    <label></label>
    <input type="password" class="form-control" placeholder="Password" name="signinPassword" ng-model="signin.password" required>
    <label></label>
    <button type="submit" class="btn btn-primary btn-block" ng-disabled="signinForm.signinEmail.$error.required || signinForm.signinEmail.$error.email || signinForm.signinPassword.$error.required">Sign in</button>
  </form>

  <div class="col-lg-4 offset-lg-4 text-xs-center">
    <hr>
    <a href="#" ui-sref="register" class="pull-xs-left">Register</a>
    <a href="#" ui-sref="recover" class="pull-xs-right">Forgot my password</a>
  </div>

</div>
