<!DOCTYPE html>
<html ng-app="mainApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJS</title>
  <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

</head>
<body>

  <div ng-controller="mainCtrl">
    <h1 ng-bind="title"></h1>
    <input ng-model="mainInput">
    <p ng-bind="mainInput"></p>

    <div ng-controller="zCtrl">
      <h1 ng-bind="title"></h1>
      <input ng-model="mainInput">
      <p ng-bind="mainInput"></p>
      <p ng-bind="$parent.title">
      </p>
    </div>

  </div>

  <div dir=""ng-controller="xCtrl">
    <h1 ng-bind="title"></h1>
  </div>

  <div dir=""ng-controller="yCtrl">
    <h1 ng-bind="title"></h1>
  </div>







  <script src="../lib/js/angular.min.js" charset="utf-8"></script>
  <script type="text/javascript">

  var app = angular.module("mainApp", []);

  app.controller("mainCtrl", function($scope, $attrs){
    $scope.title = $attrs.ngController;
  });

  app.controller("xCtrl", function($scope, $attrs){
    $scope.title = $attrs.ngController;
  });

  app.controller("yCtrl", function($scope, $attrs){
    $scope.title = $attrs.ngController;
  });

  app.controller("zCtrl", function($scope, $attrs){
    $scope.title = $attrs.ngController;
  });


  </script>

</body>
</html>
