body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.container{
  padding-top: 50px;
}

.loading{
  background: url('../../img/spinner.gif') 50% 50% no-repeat #333;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.signinForm input.ng-invalid.ng-touched {
  border: solid 1px #FA787E;
}

.signinForm input.ng-valid.ng-touched {
  /*border: solid 1px #0275d8;*/
}
