body {
  padding-top: 50px;
}
.top{
  padding: 0px 15px;
  text-align: center;
}

h3{
  text-align: center;
}

.panel-body{
  font-size: 32px;
  word-wrap: break-word;
}

.panel-footer{
  font-size: 12px;
  font-style: italic;
}









































/*html, body{
  background: #e8e8e8;
  font-family: sans-serif;
}

p{
  margin: 0;
  color: #666;
  text-overflow:clip;
}

p a{
  display
  text-decoration: none;
  color: #333;
}

.save-quick-note{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-transform:uppercase;
  border: none;
  border-radius: 5px;
  background: #ccc;
  padding: 10px;
}

.save-quick-note:hover{
  cursor: pointer;
}

.quick-note{
  text-align: center;
}

.quick-note textarea{
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  text-align: left;
  margin: 0;
  padding: 10px;
  border:none;
}



.note-container{
  width: 275px;
  height: 325px;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  position: relative;
  background: #FFF;
  border-radius: 5px;
}

.note-meta{
  position: absolute;
  bottom: 10px;
}

.note-meta{
  font-size: 12px;
  font-style: italic;
}

h1{
  margin: 0;
  font-weight: normal;
  text-align: center;
  margin: 50px;
}

h2{
  margin: 0;
  font-weight: normal;
}


#editNote{
  font-size: 32px;
  font-weight: lighter;
  color: #333;
  background: none;
  border: none;
  padding: 5px;
}
#editNote:hover{
  cursor:pointer;
}


#deleteNote{
  font-size: 32px;
  font-weight: lighter;
  color: #333;
  background: none;
  border: none;
  padding: 5px;
}
#deleteNote:hover{
  cursor:pointer;
}

#saveNote{
  font-size: 32px;
  font-weight: lighter;
  color: #333;
  background: none;
  border: none;
  padding: 5px;
}
#saveNote:hover{
  cursor:pointer;
}


#addNote{
  font-size: 42px;
  font-weight: bolder;
  color: #333;
  background: none;
  border: none;
  padding: 5px;
}
#addNote:hover{
  cursor:pointer;
}*/
