<!DOCTYPE html>
<html ng-app="exampleApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Directives</title>
        <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

    </head>
    <body ng-controller="defaultCtr">


      <div class="panel panel-default">
        <div class="page-header">
          <h1>Products</h1>
        </div>
        <div class="panel-body">

          <!-- <div unordered-list="products" template="table" class="table table-striped">
            This is where the list will go!
          </div> -->

          <div unordered-list="products" class="table table-striped" ng-repeat="count in [1, 2, 3]">
            This is where the list will go!
          </div>


        </div>
      </div>


        <script src="../lib/js/angular.min.js" charset="utf-8"></script>
        <script type="text/javascript">

        var app = angular.module("exampleApp", []);

        app.directive("unorderedList", function(){
          return{
            link: function(scope, element, attrs){
              scope.data = scope[attrs["unorderedList"]];
            },
            restrict: "A",
            // templateUrl: "itemTemplate.html"
            // templateUrl: function(elem, attrs){
            //   return attrs["template"] == "table" ? "tableTemplate.html" : "itemTemplate.html"
            // }
            templateUrl: "tableTemplate.html",
            replace: true
          }
        });

        app.controller("defaultCtr", function($scope){
          $scope.products = [
            { name: "Apples", category: "Fruit", price: 1.20, expiry: 10 },
            { name: "Bananas", category: "Fruit", price: 2.42, expiry: 7 },
            { name: "Pears", category: "Fruit", price: 2.02, expiry: 6 }
          ];
        })

        </script>

    </body>
</html>
