<!DOCTYPE html>
<html ng-app="exampleApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Directive Scopes</title>
        <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

    </head>
    <body ng-controller="scopeCtrl">

      <div class="panel panel-primary">

        <div class="panel-body">
          Direct binding: <input ng-model="data.name"  />
        </div>

        <div class="panel-body" scope-demo city="getCity(nameVal)" nameprop="data.name"></div>

      </div>


        <script src="../lib/js/angular.min.js" charset="utf-8"></script>

        <script type="text/ng-template" id="scopeTemplate">
          <div class="panel-body">
            <p>Name: {{ local }}, City: {{ cityFn({ nameVal: local }) }}</p>
          </div>
        </script>


        <script type="text/javascript">

        var app = angular.module("exampleApp", []);

        app.directive("scopeDemo", function(){
          return{
            // template: "<div class='panel-body'>Name: <input ng-model=name /></div>",
            template: function(){
              return angular.element(document.querySelector("#scopeTemplate")).html();
            },
            scope: {
              local: "=nameprop",
              cityFn: "&city"
            }
          }
        });

        app.controller("scopeCtrl", function($scope){
          $scope.data = {
            name: "Daniel",
            defaultCity: "Tijuana"
          };

          $scope.getCity = function(name){
            return name == "Daniel" ? $scope.data.defaultCity : "Unknown";
          }

        });


        </script>

    </body>
</html>
