<!DOCTYPE html>
<html ng-app="exampleApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Directive Scopes</title>
        <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

    </head>
    <body>

      <div class="panel panel-primary" ng-controller="scopeCtrl">
        <!-- <div class="panel-body" ng-controller="scopeCtrl" scope-demo></div>
        <div class="panel-body" ng-controller="secondCtrl" scope-demo></div> -->
        <div class="panel-body" scope-demo></div>
        <div class="panel-body" scope-demo></div>
      </div>


        <script src="../lib/js/angular.min.js" charset="utf-8"></script>

        <script type="text/ng-template" id="scopeTemplate">
          <div class="panel-body">
            <p>Name: <input ng-model="data.name" /></p>
            <p>City: <input ng-model="city" /></p>
            <p>Country: <input ng-model="country" /></p>
          </div>
        </script>


        <script type="text/javascript">

        var app = angular.module("exampleApp", []);

        app.directive("scopeDemo", function(){
          return{
            // template: "<div class='panel-body'>Name: <input ng-model=name /></div>",
            template: function(){
              return angular.element(document.querySelector("#scopeTemplate")).html();
            },
            scope: {}
          }
        });

        app.controller("scopeCtrl", function($scope){
          $scope.data = { name: "Daniel" };
          $scope.city = "London";
        });


        app.controller("secondCtrl", function($scope){

        });

        </script>

    </body>
</html>
