<table>
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Price
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in data">
      <td>
        {{ item.name }}
      </td>
      <td>
        {{ item.price | currency }}
      </td>
    </tr>
  </tbody>
</table>
