<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Mail</title>

    <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

  </head>
  <body ng-controller="defaultCtrl">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ title }}</h3>
      </div>
      <div class="panel-body">

        <input class="form-control">
        <hr>
        <textarea class="form-control" rows="10"></textarea>
        <hr>
        <button class="btn btn-primary" ng-click="sendMail()">Send</button>

      </div>
      <div class="panel-footer">

      </div>
    </div>

    <script src="../lib/js/angular.min.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
  </body>
</html>
