<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chart Widget</title>
  <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

</head>
<body ng-controller="defaultCtrl" data-ng-init="init()">

  <div class="panel panel-default">
    <div class="panel-heading">
      <select ng-model="chart.currentData" ng-options="option as option.datasets[0].label for option in data" ng-change="updateChart(chart.currentData, chart.currentType)" class="form-control">
        <option value="" disabled="">Chart Data</option>
      </select>
      <br />
      <select ng-model="chart.currentType" ng-options="option as option for option in chart.types" ng-change="updateChart(chart.data, chart.currentType)" class="form-control">
        <option value="" disabled="">Chart Type</option>
      </select>
    </div>
    <div class="panel-body">
      <canvas id="myChart" width="600" height="300"></canvas>
    </div>
    <div class="panel-footer">
      <h3 ng-bind="chart.currentType + app.title"></h3>
    </div>
  </div>

  <script src="../lib/js/angular.min.js" charset="utf-8"></script>
  <script src="../lib/chartjs/chart.bundle.min.js" charset="utf-8"></script>
  <script type="text/javascript">

  var app = angular.module("exampleApp", []);

  app.controller("defaultCtrl", function($scope,$http){

    //app object
    $scope.app = {
      title: "Chart"
    };

    //custom chart object
    $scope.chart = {
      types: ["bar", "pie", "line", "radar", "polarArea", "doughnut", "bubble"],
      currentType: '',
      data: {},
      currentData: {},
      options: {
        responsive: false,
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero:false
            }
          }],
          display: false
        },
        title: {
          display: false,
          text: $scope.type + ' ' + $scope.title
        }
      },
      context: document.getElementById("myChart"),
    };


    //update chart data or type
    $scope.updateChart = function(data, type){
      if($scope.myChart){
        $scope.myChart.destroy();
      }
      $scope.chart.currentType = type;
      $scope.chart.data = data;
      $scope.myChart = new Chart($scope.chart.context, {
        type: $scope.chart.currentType,
        data: $scope.chart.data,
        options: $scope.chart.options
      });
    }

    //fetch json and render default chart
    $scope.init = function(){
      console.log($scope.chart.context);
      var promise = $http.get("data.json");
      promise.then(
        function(response){
          $scope.data = response.data;
          $scope.chart.currentType = $scope.chart.types[0];
          $scope.chart.currentData = $scope.data[0];
          $scope.chart.data = $scope.data[0];
          $scope.myChart = new Chart($scope.chart.context, {
            type: $scope.chart.currentType,
            data: $scope.chart.data,
            options: $scope.chart.options
          });
        },
        function(){
          console.log("Failed to load JSON!");
        }
      );

    };

  });

  </script>

</body>
</html>
