<!DOCTYPE html>
<html ng-app="exampleApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Example 1</title>
        <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

    </head>
    <body ng-controller="defaultCtrl">

        <div class="well well-sm">
          <div class="btn-group btn-group-sm" tri-button counter="data.totalClicks" source="data.cities">
            <button class="btn btn-default" ng-repeat="city in data.cities" type="button" name="button">{{ city }}</button>
          </div>
          <h5>Total Clicks: {{ data.totalClicks }}</h5>
        </div>


        <script src="../lib/js/angular.min.js" charset="utf-8"></script>

        <script src="directives.js" charset="utf-8"></script>
        <script src="services.js" charset="utf-8"></script>

        <script type="text/javascript">

        var app = angular.module("exampleApp", ["customDirectives","customServices"]);

        app.config(function (logServiceProvider) {
          logServiceProvider.debugEnabled(true).messageCounterEnabled(false);
        })

        app.controller("defaultCtrl", function($scope, logService){
          $scope.data = {
            cities: ["London", "New York", "Paris"],
            totalClicks: 0
          };

          $scope.$watch('data.totalClicks', function (newVal) {
            logService.log("Total click count: " + newVal);
          });
        });


        </script>

    </body>
</html>
