<!DOCTYPE html>
<html ng-app="mainApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Notes</title>
  <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

  <style media="screen">
    textarea{
      border:none;
      resize: none;
      width: 100%;
      height: 100%;
    }
  </style>

</head>
<body ng-controller="mainCtrl">

  <div class="container">

    <div class="page-header">
      <h1><small>My Notes</small></h1>
      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addModal">New Note</button>
    </div>

    <div class="row">
      <div class="col-md-4" ng-repeat="note in notes">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3 ng-bind="note.text"></h3>
          </div>
          <div class="panel-footer">
            <small ng-bind="note.id"></small>
            <a href="#"  class="pull-right" data-toggle="modal" data-target="#editModal" ng-click="editNote($index)">Edit</a>
          </div>
        </div>
      </div>
    </div>

    <h3 ng-hide="notes.length">:(</h3>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Edit Note</h4>
          </div>
          <div class="modal-body">
            <textarea name="name" rows="4" cols="40" ng-model="inputEdit" id="inputEdit"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteNote(currentNote)">Delete</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveNote(currentNote)">Save</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">New Note</h4>
          </div>
          <div class="modal-body">
            <textarea name="name" rows="4" cols="40" ng-model="inputText" id="inputText"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearNote()">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveNote()">Save</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="../lib/js/jquery-3.1.0.min.js" charset="utf-8"></script>
  <script src="../lib/js/angular.min.js" charset="utf-8"></script>
  <script src="../lib/js/bootstrap.min.js" charset="utf-8"></script>
  <script type="text/javascript">

  var app = angular.module("mainApp", []);

  app.controller("mainCtrl", function($scope, LocalStorage){

    $scope.notes = LocalStorage.getData();
    LocalStorage.initData();

    var inputEdit = $('#inputEdit');
    var inputText = $('#inputText')

    $scope.saveNote = function(id){
      if($scope.inputEdit){
        $scope.deleteNote(id);
        LocalStorage.setData($scope.inputEdit, id);
      }
      else{
        LocalStorage.setData($scope.inputText, 0);
      }
      $scope.notes = LocalStorage.getData();
      inputText.val('');
    }

    $scope.clearNote = function(){
      inputText.val('');
      inputEdit.val('');
    }

    $scope.editNote = function(id){
      $scope.currentNote = id;
      inputEdit.val($scope.notes[id].text);
    }

    $scope.deleteNote = function(id){
      LocalStorage.removeData(id);
      $scope.notes = LocalStorage.getData();
      inputEdit.val('');
    }

    //Some JQuery events
    $('#addModal').on('shown.bs.modal', function() {
      inputText.focus();
    });
    $('#editModal').on('hide.bs.modal', function() {
      inputEdit.val('');
    });

  });


  app.service("LocalStorage", function($window){
    class Note{
      constructor(text){
        this.id = Date.now();
        this.text = text;
      }
    }
    return{
      initData(){
        //localStorage.clear();
        //this.setData();
      },
      setData(val, id){
        var item = $window.localStorage.getItem('notes');
        if(item){
          console.log("Yes!");
          var currentNotes = JSON.parse(item);
          currentNotes.unshift(new Note(val));
          $window.localStorage.setItem('notes', JSON.stringify(currentNotes));
        }
        else{
          console.log("error!");
        }
      },
      getData() {
        var notes = $window.localStorage.getItem('notes');
        if(notes){
          return JSON.parse(notes);
        }
        else{
          console.log("localstorage init!");
          $window.localStorage.setItem('notes', JSON.stringify([]));
        }
      },
      removeData(index){
        var notes = $window.localStorage.getItem('notes');
        notes = JSON.parse(notes);
        notes.splice(index,1);
        $window.localStorage.setItem('notes', JSON.stringify(notes));
      }
    };
  });

  </script>

</body>
</html>
