<!DOCTYPE html>
<html ng-app="exampleApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

    </head>
    <body ng-controller="defaultCtrl">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{ data.name }}</h3>
          </div>
          <div class="panel-body">

            <button type="button" name="button" ng-click="updateState()">Update</button>

          </div>
          <div class="panel-footer">
            <p>
              {{ data.status }}
            </p>
          </div>
        </div>

        <script src="../lib/js/angular.min.js" charset="utf-8"></script>

        <script type="text/javascript">

        var app = angular.module("exampleApp", []);

        app.controller('defaultCtrl', function($scope){
          $scope.data = {
            name: "Daniel",
            status: true
          };

          $scope.updateState = function(){
            if($scope.data.status == true)
              $scope.data.status = false;
            else {
              $scope.data.status = true;
            }
          }

        });
        </script>

    </body>
</html>
