<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Testing</title>
  <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
</head>
<body ng-controller="defaultCtrl">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"></h3>
    </div>
    <div class="panel-body">
      <p>Counter: {{ counter }}</p>
      <p>
        <button class="btn btn-primary" ng-click="incrementCounter()">Increment</button>
      </p>
    </div>
    <div class="panel-footer">

    </div>
  </div>


  <script src="angular.js" charset="utf-8"></script>
  <script src="app.js" charset="utf-8"></script>
</body>
</html>
