<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/" ng-bind="app.title"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <!-- <ul class="nav navbar-nav">
        <li><a href="#/account">My Account</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a data-target="#" role="button" ng-click="logoutFn()">Sign Out</a></li>
        <li><a href="#/auth">Login/Register</a></li>
      </ul> -->
    </div>
  </div>
</nav>
