<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Directives</title>
  <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

  <style media="screen">
  .odd { background-color: lightcoral}
  .even { background-color: lavenderblush}
  </style>

</head>
<body>

  <div class="panel" id="todoPanel" ng-controller="defaultCtrl">
    <h3 class="panel-heading">ToDo List</h3>

    <div class="well">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="" ng-model="showList">
          Use the list view
        </label>
      </div>
    </div>

    <ng-include src="viewFile()" onload="reportChange()"></ng-include>


    <div class="well">
      <div class="radio" ng-repeat="button in ['None', 'Table', 'List']">
        <label ng-cloak>
          <input type="radio" ng-model="data.mode"
          value="{{button}}" ng-checked="$first" />
          {{button}}
        </label>
      </div>
    </div>

    <div ng-switch on="data.mode" ng-cloak>
      <div ng-switch-when="Table">
        <table class="table">
          <thead>
            <tr><th>#</th><th>Action</th><th>Done</th></tr>
          </thead>
          <tr ng-repeat="item in todos" ng-class="$odd ? 'odd' : 'even'">
            <td>{{$index + 1}}</td>
            <td ng-repeat="prop in item">{{prop}}</td>
          </tr>
        </table>
      </div>

      <div ng-switch-when="List">
        <ol>
          <li ng-repeat="item in todos">
            {{item.action}}<span ng-if="item.complete"> (Done)</span>
          </li>
        </ol>
      </div>
      <div ng-switch-default>
        Select another option to display a layout
      </div>
    </div>

  </div>

  <script src="../lib/js/angular.min.js" charset="utf-8"></script>
  <script type="text/javascript">

  angular.module("exampleApp", [])
  .controller("defaultCtrl", function($scope){
    $scope.data = {};
    $scope.todos = [
      { action: "Get groceries", complete: false },
      { action: "Call plumber", complete: true }
    ];
    $scope.viewFile = function(){
      return $scope.showList ? "list.html" : "table.html";
    };

    $scope.reportChange = function(){
      console.log("Display content: " + $scope.viewFile());
    };
  });



  </script>
</body>
</html>
