<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chapter 10</title>
  <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

  <style media="screen">
  .odd { background-color: lightcoral}
  .even { background-color: lavenderblush}
  </style>

</head>
<body>

  <div class="panel" id="todoPanel" ng-controller="defaultCtrl">
    <h3 class="panel-heading">ToDo List</h3>

    <div class="">
      There are <span ng-bind="todos.length"></span> items.
    </div>

    <div class="">
      There are {{ todos.length }} items.
    </div>

    <div class="" ng-bind-template="first: {{ todos[0].action }}. Second: {{ todos[1].action }}">

    </div>

    <div class="" ng-non-bindable>
      AngularJS uses {{ and }} characters for templates.
    </div>


    <div class="well">
      <div>The first item is: {{todos[0].action}}</div>
    </div>


    <div class="form-group well">
      <label for="firstItem">Set first item:</label>
      <input type="text" name="firstItem" class="form-control" ng-model="todos[0].action" value="">
    </div>


    <table class="table">
      <thead>
        <tr>
          <th>
            Action
          </th>
          <th>
            Done
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in todos">
          <td>
            {{ item.action }}
          </td>
          <td>
            {{ item.complete }}
          </td>
          <td ng-repeat="prop in item">
            {{ prop }}
          </td>
        </tr>
        <tr ng-repeat="item in todos">
          <td ng-repeat="(key, value) in item">
            {{ key }} = {{ value }}
          </td>
        </tr>a
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Action</th>
          <th>Done</th>
        </tr>
      </thead>
      <tr ng-repeat="item in todos" ng-class="$odd ? 'odd' : 'even'">
        <td>{{ $index + 1 }}</td>
        <td ng-repeat="prop in item">{{ prop }}</td>
      </tr>
    </table>

    <table class="table">
      <tbody>
        <tr ng-repeat-start="item in todos">
          <td>This is item {{ $index }}</td>
        </tr>
        <tr>
          <td>The action is: {{ item.action }}</td>
        </tr>
        <tr ng-repeat-end>
          <td>Item {{ $index }} is {{ $item.complete? '' : "not " }} complete</td>
        </tr>
      </tbody>
    </table>


  </div>

  <script src="../lib/js/angular.min.js" charset="utf-8"></script>
  <script type="text/javascript">

  angular.module("exampleApp", [])
  .controller("defaultCtrl", function($scope){
    $scope.todos = [
      { action: "Get groceries", complete: false },
      { action: "Call plumber", complete: true }
    ];
  });

  </script>
</body>
</html>
