<!DOCTYPE html>
<html ng-app="exampleApp" ng-controller="defaultCtrl">
  <head>
    <meta charset="utf-8">
    <title ng-bind="app.title"></title>

    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../lib/css/app.css" media="screen" title="no title" charset="utf-8">

    <script src="../lib/jquery/jquery.min.js" charset="utf-8"></script>
    <script src="../lib/angularjs/angular.min.js" charset="utf-8"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="../lib/firebasejs/firebase.js"></script>
    <script src="../lib/firebasejs/config.js"></script>
    <script src="app.js" charset="utf-8"></script>

  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" ng-bind="app.title"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container col-lg-4 col-lg-push-4" id="container">

      <form ng-submit="loginFn()">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email" ng-model="email" required>
          <p ng-bind="email"></p>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" ng-model="password" required>
          <p ng-bind="password"></p>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </div>
      </form>

      <div id="alert"></div>


      <div ng-controller="uploadCtrl" id="uploadContainer" class="hidden">
        <input type="text" class="form-control" placeholder="File Name" ng-model="fileName">
        <p ng-bind="fileName">

        </p>
        <input type="file" name="name" value="" id="fileInput" class="form-control">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" id="progressbar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>


    </div>

  </body>
</html>
