<div class="container">

  <form ng-submit="loginFn()">
    <div class="form-group">
      <input type="email" class="form-control" placeholder="Email" ng-model="email" required>
      <p ng-bind="email">

      </p>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password" ng-model="password" required>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">Login</button>
    </div>
  </form>

</div>
