<!DOCTYPE html>
<html ng-app="mainApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Form</title>
        <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">


    </head>
    <body ng-controller="mainCtrl">

        <div class="container">

          <h1>Form</h1>

          <form-component data="data"></form-component>

        </div>

        <script src="../lib/js/angular.min.js" charset="utf-8"></script>
        <script type="text/javascript">

        var app = angular.module("mainApp", []);

        app.controller("mainCtrl", function($scope){

          $scope.data = [
            {
              name: "my Form"
            }
          ];


        });

        app.directive("formComponent", function($compile){
          return{
            scope:{
              data: "=data",

            },
            controller($scope){
              $scope.submit = function(){
                console.log("submit");
              }
              //console.log($scope.data);
            },
            link(scope, element, attrs){

              var form = angular.element('<form>').attr('name', 'myForm').attr('ng-submit', 'submit()') ;

              form.append(angular.element('<input>').attr({'ng-required':'true', 'ng-model':'text', 'name':'input'}));

              form.append(angular.element('<button>').text('Submit'));

              form.append(angular.element('<p>').attr({'ng-show':'myForm.input.$error.required'}).text('required!'));

              form.append(angular.element('<p>').text('{{ myForm.input }}'));

              form.append(angular.element('<input>').attr({'type':'text', 'ng-model':'email1', 'name':'emaila', 'ng-required':'true'}));
              form.append(angular.element('<input>').attr({'type':'text', 'ng-model':'email2', 'name':'emailb', 'ng-pattern':'(email1)', 'ng-required':'true'}));
              form.append(angular.element('<input>').attr({'type':'text', 'ng-model':'email3', 'name':'emailc', 'ng-pattern':'(email2)', 'ng-required':'true'}));
              form.append(angular.element('<p>').attr({'ng-show':'myForm.emailb.$error.pattern || myForm.emailc.$error.pattern'}).text('Must be equal!!'));
              form.append(angular.element('<p>').attr({'ng-show':'myForm.emaila.$error.required || myForm.emailb.$error.required || myForm.emailc.$error.required'}).text('required!'));



              

              element.append($compile(form)(scope));
              console.log(scope.myForm);
            },
            template: ""
          };
        })

        </script>
    </body>
</html>
