<!DOCTYPE html>
<html ng-app="mainApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Form</title>
        <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">


    </head>
    <body ng-controller="mainCtrl">

        <div class="container">

          <h1>Form</h1>

          <form-component data="data"></form-component>

        </div>

        <script src="../lib/js/jquery-3.1.0.min.js" charset="utf-8"></script>
        <script src="../lib/js/angular.min.js" charset="utf-8"></script>
        <script type="text/javascript">

        var app = angular.module("mainApp", []);

        app.controller("mainCtrl", function($scope){

          $scope.data = [
            {
              name: "my Form"
            }
          ];


        });

        app.directive("formComponent", function($compile){
          return{
            scope:{
              data: "=data",

            },
            controller($scope, $element){

              $scope.submit = function(){
                console.log("submit");
                $('#step2').toggleClass('hidden');
              }

              $scope.$watchGroup(["myForm.texta.$error.required", "myForm.textb.$error.required"], function(newValue, oldValue) {
                if($scope.myForm.texta.$valid && $scope.myForm.textb.$valid){
                  $('button').removeClass('disabled');
                }
                else {
                  $('button').addClass('disabled');
                }
              });

              $scope.$watchGroup(["myForm.textc.$error.required", "myForm.textd.$error.required"], function(newValue, oldValue) {
                if($scope.myForm.textc.$valid && $scope.myForm.textd.$valid){
                  $('button').removeClass('disabled');
                }
                else {
                  $('button').addClass('disabled');
                }
              });


            },
            link(scope, element, attrs){

              scope.form = angular.element('<form>').attr('name', 'myForm').attr('ng-submit', 'submit()') ;
              var stepA = angular.element('<div>');
              stepA.append(angular.element('<input>').attr({'type':'text', 'ng-model':'text1', 'name':'texta', 'ng-required':'true'}))
              stepA.append(angular.element('<input>').attr({'type':'text', 'ng-model':'text2', 'name':'textb', 'ng-required':'true'}))
              stepA.append(angular.element('<p>').attr({'ng-show':'myForm.texta.$error.required || myForm.textb.$error.required'}).text('required!'));
              stepA.append(angular.element('<hr>'));
              //stepA.append(angular.element('<button>').addClass('btn btn-primary').text('Back'));
              stepA.append(angular.element('<button>').addClass('btn btn-primary pull-right').text('Next'));

              scope.stepB = angular.element('<div>').addClass('hidden').attr('id','step2');
              scope.stepB.append(angular.element('<input>').attr({'type':'text', 'ng-model':'text3', 'name':'textc', 'ng-required':'true'}))
              scope.stepB.append(angular.element('<input>').attr({'type':'text', 'ng-model':'text4', 'name':'textd', 'ng-required':'true'}))
              scope.stepB.append(angular.element('<p>').attr({'ng-show':'myForm.textc.$error.required || myForm.textd.$error.required'}).text('required!'));

              scope.form.append(stepA);
              scope.form.append(scope.stepB);

              element.append($compile(scope.form)(scope));

              console.log(scope.myForm);
            },
            template: ""
          };
        })

        </script>
    </body>
</html>
