<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Filters - 1</title>
  <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

</head>
<body ng-controller="defaultCtrl">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Products <span class="label label-primary">{{ products.length }}</span>
      </h3>
    </div>

    <div class="panel-body">
      Limit: <select ng-model="limitVal" ng-options="item for item in limitRange"></select>
    </div>

    <div class="panel-body">
      <table class="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <td>Name</td>
            <td>Category</td>
            <td>Expiry</td>
            <td class="text-right">Price</td>
          </tr>
        </thead>
        <tbody>
          <!-- <tr ng-repeat="p in products | limitTo: limitVal | filter:selectItems | orderBy:'-price' | orderBy:myCustomSorter"> -->
          <!-- <tr ng-repeat="p in products | orderBy:myCustomSorter"> -->
          <!-- <tr ng-repeat="p in products | skip:2 | orderBy:[myCustomSorter, '-price'] | limitTo: 5"> -->
          <tr ng-repeat="p in products | take:2:5">
            <!-- <td>{{ p.name | uppercase }}</td> -->
            <td>{{ p.name | labelCase }}</td>
            <!-- <td>{{ p.category | lowercase }}</td> -->
            <td>{{ p.category | labelCase:true }}</td>
            <td>{{ getExpiryDate(p.expiry) | date:"dd MMM yy" }}</td>
            <td class="text-right">{{ p.price | currency:"£" }}</td>
            <td colspan="4">{{ p | json }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <script src="../lib/js/angular.min.js" charset="utf-8"></script>
  <script type="text/javascript">

  angular.module("exampleApp", [])
  .controller("defaultCtrl", function ($scope) {

    $scope.products = [
      { name: "Apples", category: "Fruit", price: 1.20, expiry: 10 },
      { name: "Bananas", category: "Fruit", price: 2.42, expiry: 7 },
      { name: "Pears", category: "Fruit", price: 2.02, expiry: 6 },
      { name: "Tuna", category: "Fish", price: 20.45, expiry: 3 },
      { name: "Salmon", category: "Fish", price: 17.93, expiry: 2 },
      { name: "Trout", category: "Fish", price: 12.93, expiry: 4 },
      { name: "Beer", category: "Drinks", price: 2.99, expiry: 365 },
      { name: "Wine", category: "Drinks", price: 8.99, expiry: 365 },
      { name: "Whiskey", category: "Drinks", price: 45.99, expiry: 365 }
    ];

    //Formating the data directly in the controller
    // for (var i = 0; i < $scope.products.length; i++) {
    //   $scope.products[i].price = "$" + Number($scope.products[i].price).toFixed(2);
    //   console.log($scope.products[i]);
    // }

    $scope.getExpiryDate = function(days){
      var now = new Date();
      return now.setDate(now.getDate() + days);
    };

    $scope.limitVal = "9";
    $scope.limitRange = [];
    for (var i = (0 - $scope.products.length); i <= $scope.products.length; i++) {
      $scope.limitRange.push(i.toString());
    }

    $scope.selectItems = function(item){
      return item.category == "Fish" || item.name == "Beer";
    }

    $scope.myCustomSorter = function(item){
      return item.expiry < 5 ? 0 : item.price;
    }


  });

  </script>

  <script src="filter.js" charset="utf-8"></script>


</body>
</html>
