<!DOCTYPE html>
<html ng-app="exampleApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chapter 9</title>
    <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

  </head>
  <body>

    <div class="panel">
      <div class="page-header">
        <h3>AngularJS App</h3>
      </div>
      <h4 ng-controller="dayCtrl" highlight="Thursday">Today is {{ day || "(unknown)" | dayName }}</h4>
        <h4 ng-controller="tomorrowCtrl">Tomorrow is {{ tomorrow || "(unknown)" | dayName }}</h4>
    </div>


    <script src="../lib/js/angular.min.js" charset="utf-8"></script>
    <script src="controllers.js" charset="utf-8"></script>
    <script src="filters.js" charset="utf-8"></script>
    <script type="text/javascript">

    //App init
    var myApp = angular.module("exampleApp", [
      "exampleApp.Controllers",
      "exampleApp.Filters",
      "exampleApp.Services",
      "exampleApp.Directives"
    ]);

    //Controllers
    // myApp.controller("dayCtrl", function($scope, days){
    //   $scope.day = days.today;
    // });
    // myApp.controller("tomorrowCtrl", function($scope, days){
    //   $scope.tomorrow = days.tomorrow;
    // });

    // myApp.controller("dayCtrl", function($scope){
    //   var dayNames = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
    //   $scope.day = dayNames[new Date().getDay()];
    // });
    //
    // myApp.controller("tomorrowCtrl", function($scope){
    //   var dayNames = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
    //   $scope.tomorrow = dayNames[(new Date().getDay() + 1) % 7];
    // });

    //Directives
    angular.module("exampleApp.Directives",[])
    .directive("highlight", function($filter){
      var dayFilter = $filter("dayName")
      return function(scope, element, attrs){
        if(dayFilter(scope.day) == attrs["highlight"])
          element.css("color", "red");
      }
    });

    //Filters
    // myApp.filter("dayName", function(){
    //   var dayNames = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
    //   return function(input){
    //     return angular.isNumber(input) ? dayNames[input] : input;
    //   };
    // });

    //Values
    var now = new Date();
    myApp.value("nowValue", now);

    //Services
    angular.module("exampleApp.Services", [])
    .service("days", function(nowValue){
      this.today = nowValue.getDay();
      this.tomorrow = this.today + 1;
    })
    .config(function(){
      console.log("Service module config: (no time)");
    })
    .run(function(startTime){
      console.log("Service module run: " + startTime);
    });


    myApp.constant("startTime", new Date().toLocaleTimeString());
    myApp.config(function(startTime){
      console.log("Main module config:" + startTime);
    });
    myApp.run(function(startTime){
      console.log("Main module run: " + startTime);
    });


    </script>
  </body>
</html>
