<h1 ng-bind="data.metadata.title"></h1>
<p ng-bind="data.metadata.url"></p>
<p ng-bind="data.metadata.count"></p>

<div class="loading" ng-hide="data"></div>

<input type="text" ng-model="textSearch" name="" value="">

<table class="table" ng-show="data">
  <thead>
    <tr>
      <th>#</th>
      <th>Magnitude</th>
      <th>Location</th>
      <th>Date / Time</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
  <tr ng-repeat="item in data.features | orderBy:'-properties.type' | filter:textSearch" ng-class="{'table-danger': item.properties.type == 'explosion'}">
    <td ng-bind="$index+1"></td>
    <td ng-bind="item.properties.mag"></td>
    <td ng-bind="item.properties.place"></td>
    <td ng-bind="item.properties.time | date: 'MM/dd/yyyy @ h:mma'"></td>
    <td ng-bind="item.properties.type"></td>
  </tr>
  </tbody>

</table>
