<!DOCTYPE html>
<html ng-app="exampleApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Swipe</title>
        <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

    </head>
    <body ng-controller="defaultCtrl">

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="well" ng-swipe-right="handleSwipe('left-to-right')" ng-swipe-left="handleSwipe('right-to-left')">
            <h4>Swipe here!</h4>
          </div>
        </div>
        <p>Swipe was: {{ swipeType }}</p>
      </div>


        <script src="../lib/js/angular.min.js" charset="utf-8"></script>
        <script src="../lib/js/angular-touch.min.js" charset="utf-8"></script>

        <script type="text/javascript">

        var app = angular.module("exampleApp", ["ngTouch"]);

        app.controller("defaultCtrl", function($scope, $element){
          $scope.swipeType = "<None>";
          $scope.handleSwipe = function(direction){
            $scope.swipeType = direction;
          }
        });

        </script>

    </body>
</html>
