<!DOCTYPE html>
<html ng-app="exampleApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

    </head>
    <body ng-controller="defaultCtrl">

      <div class="well">
        <p><input class="form-control" ng-model="htmlData" /></p>
        <p ng-bind-html="htmlData"></p>
      </div>

      <script src="../lib/js/angular.min.js" charset="utf-8"></script>
      <script src="../lib/js/angular-sanitize.min.js" charset="utf-8"></script>
      <script type="text/javascript">
      var app = angular.module("exampleApp", ["ngSanitize"]);


      app.controller("defaultCtrl", function($scope){
        $scope.htmlData = "<p>This is <b onmouseover=alert('Attack!')>dangerous</b> data</p>";
      });


      </script>
    </body>
</html>
