<!DOCTYPE html>
<html ng-app="exampleApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

    </head>
    <body ng-controller="defaultCtrl">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">URL</h3>
        </div>
        <div class="panel-body">
          <p id="top">
            This is the top.
          </p>
          <button class="btn btn-primary" ng-click="show('bottom')">Go to Bottom</button>
          <p>
            <ul>
              <li ng-repeat="item in items">{{ item }}</li>
            </ul>
          </p>
          <p id="bottom">
            This is the bottom.
          </p>
          <button class="btn btn-primary" ng-click="show('top')">Go to Top</button>
        </div>
        <div class="panel-footer">

        </div>
      </div>

      <script src="../lib/js/angular.min.js" charset="utf-8"></script>
      <script type="text/javascript">
      var app = angular.module("exampleApp", []);

      app.config(function($anchorScrollProvider){
        $anchorScrollProvider.disableAutoScrolling();
      });

      app.controller("defaultCtrl", function($scope, $location, $anchorScroll){
        $scope.itemCount = 50;
        $scope.items = [];

        for (var i = 0; i < $scope.itemCount; i++) {
          $scope.items[i] = "Item " + i;
        }

        $scope.show = function(id){
          $location.hash(id);
          if(id == "bottom")
            $anchorScroll();
        }

      });

      </script>
    </body>
</html>
