<!DOCTYPE html>
<html ng-app="exampleApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

    </head>
    <body ng-controller="defaultCtrl">

      <!-- <button class="btn btn-primary" ng-click="displayAlert('Clicked!')">Click Me</button> -->

      <button class="btn btn-primary">Click Me</button>

      <script src="../lib/js/angular.min.js" charset="utf-8"></script>

      <script type="text/javascript">

      var app = angular.module("exampleApp", []);

      app.controller("defaultCtrl", function($scope, $window, $document){
        $document.find("button").on("click", function(event){
          $window.alert(event.target.innerText);
        });
        // $scope.displayAlert = function(msg){
        //   $window.alert(msg)
        // }
      });

      </script>

    </body>
</html>
