<!DOCTYPE html>
<html ng-app="exampleApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

        <base href="/chapter19/domapi3.html#">

    </head>
    <body ng-controller="defaultCtrl">

      <div class="panel panel-default">
        <h4 class="panel-heading">URL</h4>
        <div class="panel-body">
          <p>The URL is: {{ url }}</p>
          <div class="btn-group btn-group-sm">
            <button class="btn btn-primary" ng-click="setUrl('reset')">Reset</button>
            <button class="btn btn-primary" ng-click="setUrl('path')">Path</button>
            <button class="btn btn-primary" ng-click="setUrl('hash')">Hash</button>
            <button class="btn btn-primary" ng-click="setUrl('search')">Search</button>
            <button class="btn btn-primary" ng-click="setUrl('url')">URL</button>
          </div>
        </div>
      </div>

      <script src="../lib/js/angular.min.js" charset="utf-8"></script>
      <script type="text/javascript">
      var app = angular.module("exampleApp", []);

      app.config(function($locationProvider){
        if(window.history && history.pushState){
          $locationProvider.html5Mode({
            enabled: true,
            requireBase: false
          });
        }
      });

      app.controller("defaultCtrl", function($scope, $location){
        $scope.$on("$locationChangeSuccess", function(event, newUrl){
          $scope.url = newUrl;
        });
        $scope.setUrl = function(component){
          switch (component) {
            case "reset":
              $location.path("");
              $location.hash("");
              $location.search("");
              break;
            case "path":
              $location.path("/cities/london");
              break;
            case "hash":
              $location.hash("north");
              break;
            case "search":
              $location.search("select", "hotels");
              break;
            case "url":
              $location.url("/cities/london?select=hotels#north");
              break;
          }
        }
      });
      </script>
    </body>
</html>
