<!DOCTYPE html>
<html ng-app="exampleApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

    </head>
    <body ng-controller="defaultCtrl">

      <div class="panel panel-default">
        <h4 class="panel-heading">Time</h4>
        <div class="panel-body">
          The time is: {{ time }}
        </div>
      </div>


      <script src="../lib/js/angular.min.js" charset="utf-8"></script>

      <script type="text/javascript">

      var app = angular.module("exampleApp", []);

      app.controller("defaultCtrl", function($scope, $interval){
        $interval(function(){
          $scope.time = new Date().toTimeString();
        }, 2000);
      });

      </script>

    </body>
</html>
