<!DOCTYPE html>
<html ng-app="exampleApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

    </head>
    <body ng-controller="defaultCtrl">

      <div class="panel panel-default">
        <div class="panel-body">
          <button class="btn btn-primary" ng-click="throwEx()">Throw Exception</button>
        </div>
      </div>

      <script src="../lib/js/angular.min.js" charset="utf-8"></script>
      <script type="text/javascript">
      var app = angular.module("exampleApp", []);
      app.controller("defaultCtrl", function($scope, $exceptionHandler){
        $scope.throwEx = function () {
          try {
            throw new Error("Triggered Exception");
          } catch (ex) {
            $exceptionHandler(ex.message, "Button Click");
          }
        }
      });

      app.factory("$exceptionHandler", function ($log) {
        return function (exception, cause) {
          $log.error("Message: " + exception.message + " (Cause: " + cause + ")");
        }
      });


      </script>
    </body>
</html>
