<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chapter 11 - Special Attributes</title>
  <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

</head>
<body>

  <div id="todoPanel" class="panel" ng-controller="defaultCtrl">
    <h3 class="panel-header">To Do List</h3>

    <div class="checkbox well">
      <label>
        <input type="checkbox" ng-model="dataValue">
        Set the Data Value
      </label>
    </div>

    <button class="btn btn-success" ng-disabled="dataValue">My Button</button>
  </div>


  <script src="../lib/js/angular.min.js" charset="utf-8"></script>
  <script type="text/javascript">

  angular.module("exampleApp", [])
  .controller("defaultCtrl", function ($scope) {
    $scope.dataValue = false;
  });

  </script>
</body>
</html>
