<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chapter 11 - Custom Event Directive</title>
  <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">



</head>
<body>

  <div id="todoPanel" class="panel" ng-controller="defaultCtrl">
    <div class="well" tap="message = 'Tapped!'">
      {{message}}
    </div>
  </div>


  <script src="../lib/js/angular.min.js" charset="utf-8"></script>
  <script type="text/javascript">

  angular.module("exampleApp", [])
  .controller("defaultCtrl", function ($scope, $location) {
    $scope.message = "Tap Me!";
  }).directive("tap", function () {
    return function (scope, elem, attrs) {
      elem.on("touchstart touchend", function () {
        scope.$apply(attrs["tap"]);
      });
    }
  });

  </script>
</body>
</html>
