<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chapter 11 - Directives</title>
  <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

  <style media="screen">
    td > *:first-child{ font-weight: bold; }
    tr.Red { background-color: lightcoral; }
    tr.Green { background-color: lightgreen;}
    tr.Blue { background-color: lightblue; }
  </style>

</head>
<body>

  <div id="todoPanel" class="panel" ng-controller="defaultCtrl">
    <h3 class="panel-header">To Do List</h3>

    <!-- <div class="checkbox well">
      <label>
        <input type="checkbox" ng-model="todos[2].complete">
        Item 3 is complete
      </label>
    </div> -->

    <div class="row well">
      <div class="col-xs-6" ng-repeat="(key, val) in settings">
        <h4>{{ key }}</h4>
        <div class="radio" ng-repeat="button in buttonNames">
          <label>
            <input type="radio" ng-model="settings[key]" value="{{ button }}">
            {{ button }}
          </label>
        </div>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Action</th>
          <th>Done</th>
        </tr>
      </thead>
      <!-- <tr ng-repeat="item in todos | filter: { complete: 'false' }" ng-if="!item.complete">
        <td>{{ $index + 1 }}</td>
        <td ng-repeat="prop in item">{{ prop }}</td>
        <td>
          <span ng-hide="item.complete">(Incomplete)</span>
          <span ng-show="item.complete">(Done)</span>

          <span ng-if="!item.complete">(Incomplete)</span>
          <span ng-if="item.complete">(Done)</span>
        </td>
      </tr> -->

      <tr ng-repeat="item in todos" ng-class-even="settings.Rows" ng-class-odd="settings.Columns">
        <td>{{ $index + 1 }}</td>
        <td>{{ item.action }}</td>
        <td ng-style="{ 'background-color': settings.Columns }">
          {{ item.complete }}
        </td>
      </tr>

    </table>
  </div>


  <script src="../lib/js/angular.min.js" charset="utf-8"></script>
  <script type="text/javascript">

  angular.module("exampleApp", [])
  .controller("defaultCtrl", function($scope){
    $scope.data = {};
    $scope.todos = [
      { action: "Get groceries", complete: false },
      { action: "Call plumber", complete: true },
      { action: "Buy running shoes", complete: true },
      { action: "Buy flowers", complete: false },
      { action: "Call family", complete: false }
    ];
    $scope.buttonNames = ["Red", "Green", "Blue"];

    $scope.settings = {
      Rows: "Red",
      Columns: "Green"
    };

  });



  </script>
</body>
</html>
