<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chapter 11 - Events</title>
  <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

  <style>
  .Red { background-color: lightcoral; }
  .Green { background-color: lightgreen; }
  .Blue { background-color: lightblue; }
  </style>

</head>
<body>

  <div id="todoPanel" class="panel" ng-controller="defaultCtrl">
    <h3 class="panel-header">To Do List</h3>

    <div class="well">
      <span ng-repeat="button in buttonNames">
        <button class="btn btn-info" ng-click="data.rowColor = button">
          {{button}}
        </button>
      </span>
    </div>
    <table class="table">
      <thead>
        <tr><th>#</th><th>Action</th><th>Done</th></tr>
      </thead>
      <tr ng-repeat="item in todos" ng-class="data.rowColor" ng-mouseenter="handleEvent($event)" ng-mouseleave="handleEvent($event)">
      <td>{{$index + 1}}</td>
      <td>{{item.action}}</td>
      <td ng-class="data.columnColor">{{item.complete}}</td>
    </tr>
  </table>
</div>

  <script src="../lib/js/angular.min.js" charset="utf-8"></script>
  <script type="text/javascript">

  angular.module("exampleApp", [])
  .controller("defaultCtrl", function ($scope) {
    $scope.todos = [
      { action: "Get groceries", complete: false },
      { action: "Call plumber", complete: false },
      { action: "Buy running shoes", complete: true },
      { action: "Buy flowers", complete: false },
      { action: "Call family", complete: false }
    ];
      $scope.buttonNames = ["Red", "Green", "Blue"];
      $scope.data = {
        rowColor: "Blue",
        columnColor: "Green"
      };
      $scope.handleEvent = function (e) {
        console.log("Event type: " + e.type);
        $scope.data.columnColor = e.type == "mouseover" ? "Green" : "Blue";
      }
    });

  </script>
</body>
</html>
