<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Controllers - 1</title>
  <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

</head>
<body ng-controller="simpleCtrl">

  <div class="well">
    <p>
      Content will go here!
    </p>
    <p>
      The city is: {{ city }}
    </p>
    <p>
      The country is {{ getCountry(city) || "Unknown" }}
    </p>
  </div>

  <div class="well">
    <label>Select a City:</label>
    <select ng-options="city for city in cities" ng-model="city">
    </select>
  </div>




  <script src="../lib/js/angular.min.js" charset="utf-8"></script>
  <script type="text/javascript">


  angular.module("exampleApp", [])
    .controller("simpleCtrl", function($scope){

      $scope.cities = ["London", "New York", "Paris"];

      $scope.city = "London";

      $scope.getCountry = function (city){
        switch(city){
          case "London": return "UK";
          case "New York": return "USA";
        }
      }

    });

  </script>
</body>
</html>
