<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Controllers - 2</title>
  <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

</head>
<body>

  <div class="well" ng-controller="simpleCtrl">
    <h4>Billing Zip Code</h4>
    <div class="form-group">
      <input class="form-control" ng-model="zip">
    </div>
    <button class="btn btn-primary" ng-click="setAddress('billingZip', zip)">Save Billing</button>
  </div>

  <div class="well" ng-controller="simpleCtrl">
    <h4>Shipping Zip Code</h4>
    <div class="form-group">
      <input class="form-control" ng-model="zip">
    </div>
    <button class="btn btn-primary" ng-click="copyAddress()">Use Billing</button>
    <button class="btn btn-primary" ng-click="setAddress('shippingZip', zip)">Save Shipping</button>
</div>


  <script src="../lib/js/angular.min.js" charset="utf-8"></script>
  <script type="text/javascript">

  angular.module("exampleApp", [])

    .service("zipCodes", function($rootScope){
        return {
          setZipCode: function(type, zip){
            this[type] = zip;
            $rootScope.$broadcast("zipCodeUpdated",{
              type: type,
              zipCode: zip
            });
          }
        }
    })

    .controller("simpleCtrl", function($scope, zipCodes){


      $scope.$on("zipCodeUpdated", function (event, args){
        $scope[args.type] = args.zipCode;
      });

      //$scope.addresses = {};

      $scope.setAddress = function(type, zip){
        // $rootScope.$broadcast("zipCodeUpdated", {
        //   type: type,
        //   zipCode: zip
        // });

        zipCodes.setZipCode(type, zip);

        console.log("Type: " + type + " " + zip);
        //$scope.addresses[type] = zip;
      }

      $scope.copyAddress = function(){
        console.log(true);
        $scope.zip = $scope.billingZip;
        console.log($scope.zip);
      }

    });

  </script>
</body>
</html>
