<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Controllers - 4</title>
  <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

</head>
<body>

  <div class="well" ng-controller="firstController">
    <h4>First Controller</h4>
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="reverseText()">Reverse</button>
      </span>
      <input class="form-control" ng-model="dataValue">
    </div>
  </div>

  <div class="well" ng-controller="secondController">
    <h4>Second Controller</h4>
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"ng-click="changeCase()">Case</button>
      </span>
      <input class="form-control" ng-model="dataValue">
    </div>
  </div>


  <script src="../lib/js/angular.min.js" charset="utf-8"></script>
  <script type="text/javascript">

  var app = angular.module("exampleApp", []);

  app.controller("firstController", function ($scope) {
    $scope.dataValue = "Hello, Daniel";
    $scope.reverseText = function () {
      $scope.dataValue = $scope.dataValue.split("").reverse().join("");
    }
  });

  app.controller("secondController", function ($scope) {
    $scope.dataValue = "Hello, Ana";
    $scope.changeCase = function () {
      $scope.dataValue = $scope.dataValue.toUpperCase();
    };
  });

  </script>
</body>
</html>
