<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Controllers - 6</title>
  <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="../lib/css/jquery-ui.min.css" media="screen" title="no title" charset="utf-8">

</head>
<body>

  <div id="angularRegion" class="well" ng-controller="simpleCtrl">
    <h4>AngularJS</h4>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="buttonEnabled"> Enable Button
      </label>
    </div>
    Click counter: {{ clickCounter }}
  </div>
  <div id="jqui" class="well">
    <h4>jQuery UI</h4>
    <button>Click Me!</button>
  </div>


  <script src="../lib/js/jquery-3.1.0.min.js" charset="utf-8"></script>
  <script src="../lib/js/jquery-ui.min.js" charset="utf-8"></script>
  <script src="../lib/js/angular.min.js" charset="utf-8"></script>
  <script type="text/javascript">

  $(document).ready(function () {
    $('#jqui button').button().click(function (e) {
      //alert("jQuery UI Button was clicked");
      angular.element(angularRegion).scope().$apply('handleClick()');
    });
  });

  var app = angular.module("exampleApp", [])
  .controller("simpleCtrl", function ($scope) {

    $scope.buttonEnabled = true;
    $scope.clickCounter = 0;

    $scope.handleClick = function () {
      $scope.clickCounter++;
    }

    $scope.$watch('buttonEnabled', function (newValue) {
      $('#jqui button').button({
        disabled: !newValue
      });
    });

  });



  </script>
</body>
</html>
