<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Controllers - 3</title>
  <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

</head>
<body ng-controller="topLevelCtrl">

  <div class="well">
    <h4>Top Level Controller</h4>
    <div class="input-group">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="reverseText()">Reverse</button>
        <button type="button" class="btn btn-default" ng-click="changeCase()">Case</button>
      </span>
      <input class="form-control" ng-model="data.dataValue">
    </div>
  </div>

  <div class="well" ng-controller="firstChildCtrl">
    <h4>First Child Controller</h4>
    <div class="input-group">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="reverseText()">Reverse</button>
        <button type="button" class="btn btn-default" ng-click="changeCase()">Case</button>
      </span>
      <input class="form-control" ng-model="data.dataValue">
    </div>
  </div>

  <div class="well" ng-controller="secondChildCtrl">
    <h4>Second Child Controller</h4>
    <div class="input-group">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="reverseText()">Reverse</button>
        <button type="button" class="btn btn-default" ng-click="changeCase()">Case</button>
        <button type="button" class="btn btn-default" ng-click="shiftFour()">Shift</button>
      </span>
      <input class="form-control" ng-model="data.dataValue">
    </div>
  </div>



  <script src="../lib/js/angular.min.js" charset="utf-8"></script>
  <script src="controllers/controllers-3.js" charset="utf-8"></script>
  <script type="text/javascript">


  </script>
</body>
</html>
