<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Controllers - 5</title>
  <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

</head>
<body>

  <div class="well" ng-controller="simpleCtrl as ctrl">
    <h4>Top Level Controller</h4>
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="ctrl.reverseText()">Reverse</button>
      </span>
      <input class="form-control" ng-model="ctrl.dataValue">
    </div>
  </div>


  <script src="../lib/js/angular.min.js" charset="utf-8"></script>
  <script type="text/javascript">

  var app = angular.module("exampleApp", []);

  app.controller("simpleCtrl", function () {
    this.dataValue = "Hello, Daniel";
    this.reverseText = function () {
      this.dataValue = this.dataValue.split("").reverse().join("");
    }
  });

  </script>
</body>
</html>
