<!DOCTYPE html>
<html ng-app="exampleApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

    </head>
    <body ng-controller="defaultCtrl">

      <div class="well">
        <button class="btn btn-primary" ng-click="handleClick()">Click me!</button>
      </div>

        <script src="../lib/js/angular.min.js" charset="utf-8"></script>

        <script type="text/javascript">

        var app = angular.module("exampleApp", []);

        // app.controller("defaultCtrl", function($scope, $log){
        //   $scope.handleClick = function(){
        //     $log.log("Button clicked!");
        //   }
        // });



        app.config(function($provide){
          $provide.decorator("$log", function($delegate){
            $delegate.originalLog = $delegate.log;
            $delegate.log = function(message){
              $delegate.originalLog("Decorate:" + message);
            }
            return $delegate;
          });
        });



        app.controller("defaultCtrl", function($scope, $injector, $rootElement){
          var counter = 0;

          var logClick = function($log, $exceptionHandler, message){
            if(counter == 0){
              $log.log(message);
              counter++;
            }
            else{
              $exceptionHandler("Already click");
            }
          }

          $scope.handleClick = function(){
            // var deps = $injector.annotate(logClick);
            // var args = [];
            // for (var i = 0; i < deps.length; i++) {
            //   if($injector.has(deps[i])){
            //     args.push($injector.get(deps[i]))
            //   }else if(deps[i] == "message"){
            //     args.push("Button clicked");
            //   }
            // }
            // logClick.apply(null, args);

            var localVars = { message: "Button clicked" };
            //$injector.invoke(logClick, null, localVars);
            $rootElement.injector().invoke(logClick, null, localVars);
          }

        });

        </script>

    </body>
</html>
