<div class="form-group">
  <label for="">Password</label>
  <input type="password" class="form-control" ng-model="passwordInputA" ng-change="validatePassword()" placeholder="Type a password">
</div>
<div class="form-group">
  <input type="password" class="form-control" ng-model="passwordInputB" ng-change="validatePassword()" placeholder="Retype password">
</div>

<hr>

<form name="dateForm">
  <div class="form-group">
    <label for="">Date</label>
    <input type="date" class="form-control" name="input" ng-model="date" min="2010-01-01" max="2015-12-31" placeholder="yyyy-MM-dd" required>
    <div class="help-block">Type a date between 2010 and 2015</div>
    <div class="alert alert-danger help-block" ng-show="dateForm.input.$error.required">Date required.</div>
    <div class="alert alert-danger help-block" ng-show="dateForm.input.$error.date">Not a valid date.</div>
  </div>
</form>

<form name="numberForm">
  <div class="form-group">
    <label for="">Number</label>
    <input type="number" class="form-control" name="input" ng-model="number" min="1" max="100" required>
    <div class="help-block">Type a number between 1 and 100</div>
    <div class="alert alert-danger help-block" ng-show="numberForm.input.$error.required">Number required.</div>
    <div class="alert alert-danger help-block" ng-hide="numberForm.input.$valid">Not in range!</div>
  </div>
</form>

<hr>

<form name="form">
  <div class="form-group">
    <label for="">Alphabetic</label>
    <input type="text" class="form-control" id="input" name="input" ng-pattern ="/^[a-zA-Z\s]*$/" ng-model="inputAlphabetic" required>
    <div class="alert alert-danger help-block" ng-hide="form.input.$valid">Not alphabetic!</div>
  </div>

  <div class="form-group">
    <label for="">Number</label>
    <input type="text" class="form-control" name="inputNumber" ng-model="inputNumber" ng-change="checkType('number', inputNumber)" required>
  </div>

</form>
