<!--

<ul class="nav nav-tabs nav-justified" role="tablist">
  <li role="presentation" ng-class="{ active:$first }" ng-repeat="item in form.steps">
    <a target="_self" href="#{{ $index }}" ng-bind="item.title" aria-controls="home" role="tab" data-toggle="tab"></a>
  </li>
</ul>

<br>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane" ng-class="{active:$first}" id="{{ $index }}" ng-repeat="item in form.steps">

    <div class="form-group" ng-repeat="item in item.fields">
      <label for="" ng-bind="item.label"></label>
      <input type="text" class="form-control" id="" ng-model="input"+item.label placeholder="">
      <p class="help-block" ng-bind="input"+item.label ></p>
    </div>

  </div>
</div> -->
