<div class="panel-body">
  <div class="form-group">
    <label for="">Name:</label>
    <input type="text" class="form-control" id="" placeholder="" ng-model="currentProduct.name">
  </div>
  <div class="form-group">
    <label for="">Category:</label>
    <input type="text" class="form-control" id="" placeholder="" ng-model="currentProduct.category">
  </div>
  <div class="form-group">
    <label for="">Description:</label>
    <input type="text" class="form-control" id="" placeholder="" ng-model="currentProduct.description">
  </div>
  <div class="form-group">
    <label for="">Price:</label>
    <input type="text" class="form-control" id="" placeholder="" ng-model="currentProduct.price">
  </div>
  <button class="btn btn-primary" ng-click="saveEdit(currentProduct)">Save</button>
  <button class="btn btn-primary" ng-click="cancelEdit()">Cancel</button>
</div>
