<h2>Your Cart</h2>

<div class="" ng-controller="cartSummaryController">

  <div class="alert alert-warning" ng-show="cartData.length == 0">
    There are no products in the shopping cart.
    <a href="#/products" class="alert-link">Click here to return to the catalog.</a>
  </div>

  <div class="" ng-hide="cartData.length == 0">
    <table class="table">
      <thead>
        <tr>
          Quantity
        </tr>
        <tr>
          Item
        </tr>
        <tr>
          Price
        </tr>
        <tr>
          Subtotal
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in cartData">
          <td class="text-center">
            {{ item.count }}
          </td>
          <td class="text-left">
            {{ item.name }}
          </td>
          <td class="text-right">
            {{ item.price | currency }}
          </td>
          <td class="text-right">
            {{ item.price * item.count | currency }}
          </td>
          <td>
            <button ng-click="remove(item.id)" class="btn btn-warning btn-sm" type="button" name="button">Remove</button>          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3" class="text-right">
           Total:
         </td class="text-right">
          <td>
            {{ total() | currency }}
          </td>
        </tr>
      </tfoot>
    </table>

    <div class="text-center">
      <a href="#/products" class="btn btn-primary">Continue Shopping</a>
      <a href="#/placeorder" class="btn btn-primary">Place Order</a>
    </div>

  </div>


</div>
