<style media="screen">
  .ng-invalid{ background-color: lightpink; }
  .ng-valid{ background-color: lightgreen; }
  span.error{ color: red, font-weight: bold; }
</style>

<h2>Check out Now!</h2>
<p>Please enter you details, and we will ship your goods really fast!</p>

<form class="" name="shippingForm" novalidate>

  <div class="well">
    <h3>Ship to</h3>
    <div class="form-group">
      <label for="">Name</label>
      <input type="text" name="name" value="" class="form-control" ng-model="data.shipping.name" required>
      <span class="error" ng-show="shippingForm.name.$error.required">
        Please enter a name
      </span>
    </div>
    <h3>address</h3>
    <div class="form-group">
      <label for="">Street Address</label>
      <input type="text" name="street" value="" class="form-control" ng-model="data.shipping.street" required>
      <span class="error" ng-show="shippingForm.street.$error.required">
        Please enter a street address
      </span>
    </div>

    <div class="form-group">
      <label for="">City</label>
      <input type="text" name="city" value="" class="form-control" ng-model="data.shipping.city" required>
      <span class="error" ng-show="shippingForm.city.$error.required">
        Please enter a city
      </span>
    </div>

    <div class="form-group">
      <label for="">State</label>
      <input type="text" name="street" value="" class="form-control" ng-model="data.shipping.state" required>
      <span class="error" ng-show="shippingForm.state.$error.required">
        Please enter a state
      </span>
    </div>

    <div class="form-group">
      <label for="">Zip Code</label>
      <input type="text" name="zip" value="" class="form-control" ng-model="data.shipping.zip" required>
      <span class="error" ng-show="shippingForm.zip.$error.required">
        Please enter a zip code
      </span>
    </div>

    <div class="form-group">
      <label for="">Country</label>
      <input type="text" name="country" value="" class="form-control" ng-model="data.shipping.country" required>
      <span class="error" ng-show="shippingForm.country.$error.required">
        Please enter a country
      </span>
    </div>

    <h3>Options</h3>
    <div class="checkbox">
      <label for="">
        <input type="checkbox" name="giftwrap" value="" ng-model="data.shipping.giftwrap">
        Gift wrap these items
      </label>
    </div>

    <div class="text-center">
      <button ng-click="sendOrder(data.shipping)" ng-disabled="shippingForm.$invalid" type="button" name="button" class="btn btn-primary">Complete Order</button>
    </div>
  </div>

</form>
