<div class="alert alert-danger" ng-show="data.error">
  Error {{ data.error.status }}. The product data was not loaded.
  <a href="app.html" class="alert-link">Click here to try againg.</a>
</div>

<div class="row" ng-controller="productListCtrl" ng-hide="data.error">
  <div class="col-md-2">
    <h2>Categories</h4>
      <a ng-click="selectCategory()" class="btn btn-block btn-default btn-lg" href="#">Home</a>
      <a ng-repeat="item in data.products | orderBy:'category' | unique:'category'" ng-click="selectCategory(item)" class="btn btn-block btn-default btn-lg" ng-class="getCategoryClass(item)" href="#">{{ item }}</a>
  </div>

  <div class="col-md-10">
    <h2>{{ getCategoryName() }}</h2>
    <div class="well"
    ng-repeat="item in data.products | filter:categoryFilterFn | range:selectedPage:pageSize">
      <h3>
        <strong>{{ item.name }}</strong>
        <span class="pull-right label label-primary">{{ item.price | currency}}</span>
      </h3>
      <button
      ng-click="addProductToCart(item)"
       type="button" name="button" class="btn btn-success btn-lg pull-right">Add to Cart</button>
      <div class="lead">{{ item.description }}</div>
    </div>
    <div class="pull-right btn-group">
      <a class="btn btn-default"
      ng-repeat="page in data.products | filter:categoryFilterFn | pageCount:pageSize"
      ng-click="selectPage($index + 1)"
      ng-class="getPageClass($index + 1)" href="#">{{ $index + 1 }}</a>
    </div>
  </div>
</div>
<br>
