<div class="alert alert-danger" ng-show="data.orderError">
  Error ({{ data.orderError.status }}). The order could not be placed.
  <a href="#/placeorder" class="alert-link">Click here to try again</a>
</div>

<div class="wel" ng-hide="data.orderError">
  <h2>Thanks!</h2>
  Thanks for placing your order. We'll ship your goods as soon as posible.
  If you need to contact us, use this reference {{ data.orderId }}.
</div>
