<style t>
  .navbar-right{ float: right !important; margin-right: 5px; }
  .navbar-text{ margin-right: 10px; }
</style>

<div class="navbar-right">
  <div class="navbar-text text-center">
    <strong>Your Cart: </strong>
    {{ itemCount() }} Item(s),
    {{ total() | currency }}
    <a class="btn btn-default" href="#/checkout">Checkout</a>
  </div>
</div>
